<%- partial('../partials/mktheaderline') %>

<div class="container" id="forgotPassword">
	<div class="row">
    <div class="col-sm-4 col-sm-offset-4 loginForm">
      <h1>Everyone forgets now and then.<br/>Let's reset your password: </h1>
      <form action="/forgotpassword" id="forgot-password-form" method="post">
        <div><input type="text" name="email" placeholder="Enter Your Email Address*"></div>
        <div><button type="submit" class="signInButton">Send Reset Information</button></div>
    	</form>
      <div id="hint">
        <p>Forgot your email address?<br/>Please <a href="/contact">contact Support</a>.
           <% if (req.session.flash) { %><label for="email" id="success-message"><%= req.flash('message') %></label><% } %>
           <% if (req.session.flash) { %><label for="email" id="error-message"><%= req.flash('error') %></label><% } %>
        </p>
      </div>
    </div>
  </div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
