<h2><%= message %></h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  setTimeout(function() {
  window.location.href = "/";
}, 2000);
</script>
