<%- partial('../partials/mktheaderline') %>

<h1>Create New Password</h1>

<section id="selectNewPasswordForm">
  <form action="/resetpassword" method="post">
    <div><input type="password" name="password" placeholder="New Password"></div>
    <div><input type="password" name="confirm" placeholder="Confirm Password"></div>
    <div><input type="submit"></div>
  </form>
</section>
