<%- partial('../partials/mktheaderline') %>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 loginForm">
            <h1>Create New Password</h1>
            <section id="selectNewPasswordForm">
                <form action="/resetpassword" method="post">
                    <div><input type="password" name="password" placeholder="New Password"></div>
                    <div><input type="password" name="confirm" placeholder="Confirm Password"></div>
                    <div><button type="submit" class="signInButton">Submit</button></div>
                </form>
            </section>
        </div>
    </div>
</div>