<div id="profile-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container profile-header">
      <div class="navbar-left">
        <a class="navbar-brand" href="/"><img src="/images/procur.png" /></a>
      </div>

      <div class="nav navbar-nav navbar-right hidden-xs">
        <p class="navbar-text earlyaccess-pill newText hidden-xs">
          New to Procur?
        </p>
        <p class="navbar-text account-registration createPill">
          <a href="/signup">Create a free account</a>
        </p>
      </div>

      <div class="dashboard-header-right  hidden-sm hidden-md hidden-lg"> <!-- MOBILE -->
        <div class="dropdown navbar-right">
            <a href="/signup"  ><span style="padding-top: 10px; padding-left: 10px; font-size: 2em; color: #000; border: black 1px;">Sign Up</span></a>
        </div>
      </div>


    </div>
  </nav>
</div>
