<div id="profileWrapper">
  <div class="profileHeader">
    <img class="logoImage" src="/images/dashboardLogo.png" />
    <h1><span class="profileName">Jennifer James</span> &middot; <span class="profileCompany">North American Cotton Apparel Co.</span></h1>

    <div class="myProcurPill"><a>Return to My Procur</a></div>
  </div>
</div>
