<div id="profileWrapper">
  <div class="container profile-header">
    <div class="row">
      <img class="logoImage" src="/images/dashboardLogo.png" />
      <h1><span class="profileName"><%= user.firstName %> <%= user.lastName %></span> &middot; <span class="profileCompany"><%= company.name%></span></h1>

      <ul class="header-right">
        <li class="procurPill"><a href="/dashboard">Return to My Procur</a></li>
      </ul>
    </div>
  </div>
</div>
