<div id="headerWrapper">  
  <div id="mainHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img class="logoImage" src="/images/dashboardLogo.png" />
          <h1><span class="greetingUser"><%= user.firstName %> <%= user.lastName %></span> <span class="greetingCompany">&middot; <%= company.name %></span></h1>
        </div>
        <div class="col-sm-6 text-right">
        <!-- THIS NEEDS TO BE MADE ABSOLUTELY BEAUTIFUL -->



        <!--  OLD STUFF HERE
          <section id="modeToggle">
            <h4>Toggle View</h4>
            <form action="/togglemode" method="post">
              <select name="mode">
                <option value="buyer">Buyer</option>
                <option value="supplier">Supplier</option>
              </select>
              <input type="submit">
            </form>
          </section>
          
        -->
          <ul>
            <% if((company.buyer == true) && (company.supplier == true)) { %>
            <% if(user.activeMode == 'buyer') { %>
              <li class="typeToggle buyer">SWITCH TO SUPPLIER</li>
            <% } %>
            <% if(user.activeMode == 'supplier') { %>
              <li class="typeToggle supplier">SWITCH TO BUYER</li>
            <% } %>
          <% } %>
            <li><a href="#">MY PROCUR</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="subHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-right">
          <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/companies/<%= company.handle %>">View Company Profile</a></li>
            <li><a href="/company/update">Edit Company Profile</a></li>
            <li><a href="/user/update">User Account Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>