<div id="dashboard-footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navbar-left">
      <p class="navbar-text linkText"><a href="/about" class="navbar-link"><i class="fa fa-info-circle"></i> About</a></p>
      <p class="navbar-text linkText"><a href="/contact" class="navbar-link"><i class="fa fa-comment"></i> Contact</a></p>
      <p class="navbar-text linkText"><a href="/support" class="navbar-link"><i class="fa fa-warning"></i> Help &amp; Support</a></p>

      <div class="socialBar">
        <p class="navbar-text"><a href="http://facebook.com/procurintl" class="navbar-link"><i class="fa fa-facebook"></i></a></p>
        <p class="navbar-text"><a href="http://twitter.com/procur_intl" class="navbar-link"><i class="fa fa-twitter"></i></a></p>
        <p class="navbar-text"><a href="http://plus.google.com/+ProcurIntl/about" class="navbar-link"><i class="fa fa-google"></i></a></p>
        <p class="navbar-text"><a href="http://instagram.com/procur_intl" class="navbar-link"><i class="fa fa-instagram"></i></a></p>
        <p class="navbar-text"><a href="https://www.linkedin.com/company/procur" class="navbar-link"><i class="fa fa-linkedin"></i></a></p>
        <p class="navbar-text"><a href="http://pinterest.com/procurintl" class="navbar-link"><i class="fa fa-pinterest"></i></a></p>
        <p class="navbar-text"><a href="http://www.good.is/members/procurintl" class="navbar-link"><i class="fa fa-plus-square"></i></a></p>
      </div>
    </div>
    <div class="navbar-right">
      <p class="navbar-text"><a href="/termsofservice" class="navbar-link">Terms of Service</a></p>
      <p class="navbar-text"><a href="/privacy" class="navbar-link">Privacy Policy</a></p>
      <p class="navbar-text">&copy; Procur Systems Inc 2013 - 2014.</p>
    </div>
  </nav>
</div>