<div class="sticky-header">
  <div class="row">
  	<div class="sticky-header">
      <div class="container">
    		<h3>Sign up for Early Access<span class="hidden-sm hidden-xs"> and start using new features as they're released</span><span class="hidden-xs"> for free</span></span>!</h3>
    		<a href="/signup" class="button">CREATE A FREE ACCOUNT</a> 
    	</div>
    </div>
  </div>
</div>
