
<div class="navbar" role="navigation" id="mktHeaderLine">
	<div class="container">
		<div class="navbar-header">
		</div>



			<div class="collapse navbar-collapse pull-right">
      	<ul class="nav navbar-nav">
        	<li class="tri">
						<a href="#">Features</a>
							<div class="hoverTriContainer">
								<div class="hoverTri"></div>
							</div>
					</li>
        	<li class="tri">
						<a href="#">Membership &amp; Pricing</a>
						<div class="hoverTriContainer">
				  		<div class="hoverTri"></div>
						</div>
					</li>
        	<li class="tri"><a href="/faq">FAQ</a>
						<div class="hoverTriContainer">
							<div class="hoverTri"></div>
						</div>
					</li>
        	<li class="tri special"><a href="/login">Sign In</a>
						<div class="hoverTriContainer">
							<div class="hoverTri"></div>
						</div>
					</li>
        	<li class="joinNow"><a href="/signup">Join Now</a>
						<div class="hoverTriContainer">
							<div class="hoverTri"></div>
					</div>
			  	</li>
      	</ul>
			</div>



	</div>
</div>
