<div class="row" id="mktHeader">
	<div class="container">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-8 text-right">
      <ul>
        <li class="tri">
        	<a href="/features">Features</a>
        	<div class="hoverTriContainer">
        		<div class="hoverTri"></div>
        	</div>
        </li>
        <li class="tri">
        	<a href="/pricing">Membership &amp; Pricing</a>
        	<div class="hoverTriContainer">
        		<div class="hoverTri"></div>
        	</div>
        </li>
        <li class="tri">
        	<a href="/faq">FAQ</a>
        	<div class="hoverTriContainer">
        		<div class="hoverTri"></div>
        	</div>
        </li>
        <li class="tri">
        	<a href="/login">Sign In</a>
        	<div class="hoverTriContainer">
        		<div class="hoverTri"></div>
        	</div>
        </li>
        <li class="tri">
        	<a href="/signup">Join Now</a>
        	<div class="hoverTriContainer">
        		<div class="hoverTri"></div>
        	</div>
        </li>
      </ul>
		</div>
	</div>
</div>
