<div id="marketing-header" class="line">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/procur.png" /></a>
      </div>

      <div class="collapse navbar-collapse" id="nav-links">
        <ul class="nav navbar-nav navbar-right">
        <li class="tri">
          <a href="/earlyaccess">Early Access</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li class="tri">
          <a href="/features">Features</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li class="tri">
          <a href="/pricing">Membership &amp; Pricing</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li class="tri">
          <a href="/faq">FAQ</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li>
          <% if (loggedin) { %>
           <a class="loginLink" href="/logout">Log Out</a>
          <% } else { %>
            <a class="loginLink" href="/login">Sign In</a>
          <% } %>
          <div class="hoverTriContainer">
          </div>
        </li>
        <li>
          <% if (loggedin) { %>
           <a class="joinLink" href="/dashboard">Go to My Procur</a>
          <% } else { %>
            <a class="joinLink" href="/login">Join Now</a>
          <% } %>
          <div class="hoverTriContainer">
          </div>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</div>

