<div class="row" id="mktHeader">
	<div class="container">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-8 text-right">
      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Membership &amp; Pricing</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Join Now</a></li>
      </ul>
		</div>
	</div>
</div>