<div class="col-sm-8 col-sm-offset-2">
  <div class="row">
    <div class="progressLine">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="progressItem text-center">
      <i class="fa fa-circle pastProgress"></i> <br/>
      <p >Basic<br/>Company Details</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="progressItem text-center">
      <i class="fa fa-circle pastProgress"></i> <br/>
      <p>Default<br/>Mode Selection</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="progressItem text-center">
      <i class="fa fa-circle activeProgress"></i> <br/>
      <p class="activeProgress">Company Profile<br/>Information</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="progressItem text-center">
      <i class="fa fa-circle-thin"></i> <br/>
      <p>Verify Email<br/>Address</p>
    </div>
  </div>
</div>