<div id="registration-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-brand navbar-left">
        <img src="/images/procur.png" />
      </div>
      <div class="registration-right-section navbar-right">
        <p class="navbar-text earlyaccess-pill">
          Early Access
        </p>
        <p class="navbar-text account-registration">
          Account Registration
        </p>
      </div>
    </div>
  </nav>
</div>