<div id="registration-footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p class="navbar-text navbar-right">Copyright &copy; Procur Systems Inc 2013 - 2014.</p>
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Privacy Policy</a></p>
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Terms of Service</a></p>
    </div>
  </nav>
</div>