<p>Welcome back, <%= user.firstName %></p>
<h1>Dashboard</h1>

<div><a href="/company/update">Change profile information</div>
<div><a href=<%= '/companies/' + company.handle %>>View my profile</a></div>
<div><a href="/user/update">Change Password</a></div>
<div><a href="/logout">Logout</a></div>
