<option value="affiliateMerchant">Affiliate Merchant</option>
<option value="broker">Broker</option>
<option value="tradingCompany">Trading Company</option>
<option value="serviceBusiness">Service Business</option>
<option value="distributor">Distributor</option>
<option value="wholesaler">Wholesaler</option>
<option value="dropshipper">Dropshipper</option>
<option value="farm">Farm</option>
<option value="mill">Mill</option>
<option value="franchisor">Franchisor</option>
<option value="importExport">Import / Export</option>
<option value="contractManufacturer">Contact Manufacturer</option>
<option value="mining">Mining</option>
<option value="rdDesign">R&amp;D / Design</option>
<option value="brand">Brand</option>
<option value="other">Other</option>