<option value="accounting">Accounting</option>
<option value="advertising">Advertising</option>
<option value="aerospace">Aerospace</option>
<option value="agriculture">Agriculture</option> 
<option value="aircraft">Aircraft</option>
<option value="airline">Airline</option>
<option value="apparelAccessories">Apparel &amp; Accessories</option>
<option value="automotive">Automotive</option>
<option value="banking">Banking</option>
<option value="biotechnology">Biotechnology </option>
<option value="chemical">Chemical</option>
<option value="computer">Computer</option>
<option value="consumerProduct">Consumer Products</option>
<option value="cosmetics">Cosmetics</option>
<option value="defense">Defense</option>
<option value="departmentStores">Department Stores</option> 
<option value="education">Education</option>
<option value="electronics">Electronics</option>
<option value="energy">Energy</option>
<option value="entertainmentLeisure">Entertainment &amp; Leisure</option>
<option value="financialServices">Financial Services </option>
<option value="foodBeverageTobacco">Food, Beverage &amp; Tobacco</option> 
<option value="grocery">Grocery</option>
<option value="healthcare">Health Care</option>
<option value="legal">Legal </option>
<option value="manufacturing">Manufacturing</option>
<option value="motionPictureVideo">Motion Picture &amp; Video</option> 
<option value="music">Music </option>
<option value="newspaperPublishers">Newspaper Publishers</option>
<option value="other">Other</option>
<option value="pharmaceuticals">Pharmaceuticals</option>
<option value="publishing">Publishing</option>
<option value="realEstate">Real Estate</option>
<option value="retail">Retail</option>
<option value="service">Service</option>
<option value="soap">Soap &amp; Detergent</option>
<option value="software">Software</option>
<option value="sports">Sports</option>
<option value="technology">Technology</option>
<option value="telecommunications">Telecommunications</option>
<option value="television">Television</option>
<option value="transportation">Transportation</option>
<option value="trucking">Trucking</option>
<option value="wholesale">Wholesale</option>