<option value="Accounting">Accounting</option>
<option value="Advertising">Advertising</option>
<option value="Aerospace">Aerospace</option>
<option value="Agriculture">Agriculture</option> 
<option value="Aircraft">Aircraft</option>
<option value="Airline">Airline</option>
<option value="ApparelAccessories">Apparel &amp; Accessories</option>
<option value="Automotive">Automotive</option>
<option value="Banking">Banking</option>
<option value="Biotechnology">Biotechnology </option>
<option value="Chemical">Chemical</option>
<option value="Computer">Computer</option>
<option value="ConsumerProduct">Consumer Products</option>
<option value="Cosmetics">Cosmetics</option>
<option value="Defense">Defense</option>
<option value="DepartmentStores">Department Stores</option> 
<option value="Education">Education</option>
<option value="Electronics">Electronics</option>
<option value="Energy">Energy</option>
<option value="EntertainmentLeisure">Entertainment &amp; Leisure</option>
<option value="FinancialServices">Financial Services </option>
<option value="FoodBeverageTobacco">Food, Beverage &amp; Tobacco</option> 
<option value="Grocery">Grocery</option>
<option value="Healthcare">Health Care</option>
<option value="Legal">Legal </option>
<option value="Manufacturing">Manufacturing</option>
<option value="MotionPictureVideo">Motion Picture &amp; Video</option> 
<option value="Music">Music </option>
<option value="NewspaperPublishers">Newspaper Publishers</option>
<option value="Other">Other</option>
<option value="Pharmaceuticals">Pharmaceuticals</option>
<option value="Publishing">Publishing</option>
<option value="RealEstate">Real Estate</option>
<option value="Retail">Retail</option>
<option value="Service">Service</option>
<option value="Soap">Soap &amp; Detergent</option>
<option value="Software">Software</option>
<option value="Sports">Sports</option>
<option value="Technology">Technology</option>
<option value="Telecommunications">Telecommunications</option>
<option value="Television">Television</option>
<option value="Transportation">Transportation</option>
<option value="Trucking">Trucking</option>
<option value="Wholesale">Wholesale</option>