<option value="">Select an option</option>
<option value="Less than 1000m²">Less than 1000m²</option>
<option value="1000m² to 5000m²">1000m² to 5000m²</option>
<option value="5000m² to 10000m²">5000m² to 10000m²</option>
<option value="10000m² to 25000m²">10000m² to 25000m²</option>
<option value="25000m² to 50000m²">25000m² to 50000m²</option>
<option value="50000m² to 100000m²">50000m² to 100000m²</option>
<option value="100000m² +">100000m² +</option>
