<option value="" disabled selected>Select Value</option>
<option value="lessthan1">Less than US $1 Million </option>
<option value="1to2">US $1 Million - US $2 Million</option>
<option value="2to5">US $2 Million - US $5 Million</option>
<option value="5to10">US $5 Million - US $10 Million</option>
<option value="10to50">US $10 Million - US $50 Million</option>
<option value="50to100">US $50 Million - US $100 Million</option>
<option value="morethan100">US $100 Million +</option>