<option value="" disabled selected>Select Value</option>
<option value="Less than US $1 Million">Less than US $1 Million</option>
<option value="US $1 Million - US $2 Million">US $1 Million - US $2 Million</option>
<option value="US $2 Million - US $5 Million">US $2 Million - US $5 Million</option>
<option value="US $5 Million - US $10 Million">US $5 Million - US $10 Million</option>
<option value="US $10 Million - US $50 Million">US $10 Million - US $50 Million</option>
<option value="US $50 Million - US $100 Million">US $50 Million - US $100 Million</option>
<option value="US $100 Million +">US $100 Million +</option>