<option value="" disabled selected>Select Company Type</option>
<option value="association">Association</option>
<option value="broker">Broker</option>
<option value="consultant">Consultant</option>
<option value="buyingOffice">Buying Office</option>
<option value="distributor">Distributor</option>
<option value="wholesaler">Wholesaler</option>
<option value="endUser">End User</option>
<option value="governmentAgency">Government Agency</option>
<option value="manufacturer">Manufacturer</option>
<option value="nonprofit">Nonprofit</option>
<option value="retailer">Retailer</option>
<option value="serviceBusiness">Service Business</option>
<option value="tradingCompany">Trading Company</option>
<option value="procurementOffice">Procurement Office</option>
<option value="brand">Brand</option>
<option value="reseller">Reseller</option>
<option value="other">Other</option>