<option value="" disabled selected>Select Company Type</option>
<option value="Association">Association</option>
<option value="Brand">Brand</option>
<option value="Broker">Broker</option>
<option value="Buying Office">Buying Office</option>
<option value="Consultant">Consultant</option>
<option value="Distributor">Distributor</option>
<option value="End User">End User</option>
<option value="Government Agency">Government Agency</option>
<option value="Manufacturer">Manufacturer</option>
<option value="Nonprofit">Nonprofit</option>
<option value="Other">Other</option>
<option value="Procurement Office">Procurement Office</option>
<option value="Reseller">Reseller</option>
<option value="Retailer">Retailer</option>
<option value="Service Business">Service Business</option>
<option value="Trading Company">Trading Company</option>
<option value="Wholesale">Wholesale</option>
