<option value="" disabled selected>Select Language*</option>
<option value="Arabic">Arabic</option>
<option value="Bengali">Bengali</option>
<option value="Chinese (Cantonese)">Chinese (Cantonese)</option>
<option value="Chinese (Jin)">Chinese (Jin)</option>
<option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
<option value="Chinese (Min Nan)">Chinese (Min Nan)</option>
<option value="Chinese (Wu)">Chinese (Wu)</option>
<option value="Chinese (Xiang)">Chinese (Xiang)</option>
<option value="Dutch">Dutch</option>
<option value="English">English</option>
<option value="Finnish">Finnish</option>
<option value="French">French</option>
<option value="German">German</option>
<option value="Gujarati">Gujarati</option>
<option value="Hindi">Hindi</option>
<option value="Italian">Italian</option>
<option value="Japanese">Japanese</option>
<option value="Javanese">Javanese</option>
<option value="Kannada">Kannada</option>
<option value="Korean">Korean</option>
<option value="Malay / Indonesian">Malay / Indonesian</option>
<option value="Malayalam">Malayalam</option>
<option value="Marathi">Marathi</option>
<option value="Pashto">Pashto</option>
<option value="Persian">Persian</option>
<option value="Polish">Polish</option>
<option value="Portuguese">Portuguese</option>
<option value="Punjabi">Punjabi</option>
<option value="Russian">Russian</option>
<option value="Spanish">Spanish</option>
<option value="Sundanese">Sundanese</option>
<option value="Swedish">Swedish</option>
<option value="Tamil">Tamil</option>
<option value="Telugu">Telugu</option>
<option value="Thai">Thai</option>
<option value="Turkish">Turkish</option>
<option value="Urdu">Urdu</option>
<option value="Vietnamese">Vietnamese</option>