<option value="" disabled selected>Select Location Type</option>
<option value="Factory">Factory</option>
<option value="Warehouse">Warehouse</option>
<option value="R&amp;D Facility">R&amp;D Facility</option>
<option value="Retail">Retail</option>
<option value="Corporate Office">Corporate Office</option>
<option value="Headquarters">Headquarters</option>
<option value="Fulfillment Center">Fulfillment Center</option>
<option value="Processing Center">Processing Center</option>
<option value="Farm">Farm</option>
<option value="Outlet">Outlet</option>
