<option value="" disabled selected>Preferred Supplier Type</option>
<option value="Affiliate Merchant">Affiliate Merchant</option>
<option value="Broker">Broker</option>
<option value="Trading Company">Trading Company</option>
<option value="Service Business">Service Business</option>
<option value="Distributor">Distributor</option>
<option value="Wholesaler">Wholesaler</option>
<option value="Dropshipper">Dropshipper</option>
<option value="Farm">Farm</option>
<option value="Mill">Mill</option>
<option value="Franchisor">Franchisor</option>
<option value="ImportExport">Import / Export</option>
<option value="Contract Manufacturer">Contact Manufacturer</option>
<option value="Mining">Mining</option>
<option value="R&amp;D / Design">R&amp;D / Design</option>
<option value="Brand">Brand</option>
<option value="Other">Other</option>