<option value="" disabled selected>Total Employees</option>
<option value="Less than 10">Less than 10</option>
<option value="11 - 50">11 - 50</option>
<option value="51 - 100">51 - 100</option>
<option value="101 - 500">101 - 500</option>
<option value="501 - 1000">501 - 1000</option>
<option value="1000+">1000+</option>