<!DOCTYPE html>
<html>
  <head>
    <title>Internal Server Error</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Montserrat:400,700|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/marketing.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/errorpages.css">
  </head>


  <body>

  <%- partial('partials/mktheaderline') %>

    <div class="container" id="errorPage">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>500 ERROR</h3>
            <h1><span class="dark">Sorry, there seems to have been an error with the server.</span> This error has been recorded, and we'll be working to resolve the problem.</h1>
            <h2>PLEASE TRY YOUR REQUEST AGAIN, OR CLICK ON ONE OF THE FOLLOWING OPITONS.</h2>

          <div class="featuresColumn">
            <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="/">GO TO HOMEPAGE</a>
            </div><br/>
            <div class="rightSec rightAlt">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="/faq">Visit FAQ</a>
            </div><br />
            <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#">Contact Support</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
