<!DOCTYPE html>
<html>
  <head>
    <% if(title){ %><title id="siteTitle"><%- title %></title><% }else{%><title>Procur - Placeholder Sitewide Title</title><%}%>
    <link rel="icon" href="/linker/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Font Awesome 4.1.0 -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Montserrat:400,700|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap 3.1.1 -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/about.css">
    <link rel="stylesheet" href="/linker/styles/auth.css">
    <link rel="stylesheet" href="/linker/styles/dropdown-header.css">
    <link rel="stylesheet" href="/linker/styles/earlyaccess.css">
    <link rel="stylesheet" href="/linker/styles/errorpages.css">
    <link rel="stylesheet" href="/linker/styles/faq.css">
    <link rel="stylesheet" href="/linker/styles/features.css">
    <link rel="stylesheet" href="/linker/styles/handle.css">
    <link rel="stylesheet" href="/linker/styles/legal.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/marketing.css">
    <link rel="stylesheet" href="/linker/styles/pricing.css">
    <link rel="stylesheet" href="/linker/styles/profile-body.css">
    <link rel="stylesheet" href="/linker/styles/profile-header.css">
    <link rel="stylesheet" href="/linker/styles/signup.css">
    <link rel="stylesheet" href="/linker/styles/updatecompany.css">
    <!--STYLES END-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  </head>

  <body>

    <%- body %>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/jquery.ui.js"></script>
    <script src="/linker/js/waypoints.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/autocomplete.js"></script>
    <script src="/linker/js/autocompleteHelper.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/companyHandleExists.js"></script>
    <script src="/linker/js/companyNameExists.js"></script>
    <script src="/linker/js/companyProfile.js"></script>
    <script src="/linker/js/countries.js"></script>
    <script src="/linker/js/dash-toggle.js"></script>
    <script src="/linker/js/dropdown-helper.js"></script>
    <script src="/linker/js/earlyaccess.js"></script>
    <script src="/linker/js/faqHelper.js"></script>
    <script src="/linker/js/featuresHelper.js"></script>
    <script src="/linker/js/formvalidation.js"></script>
    <script src="/linker/js/hqcheck.js"></script>
    <script src="/linker/js/textpreview.js"></script>
    <script src="/linker/textpreview.js"></script>
    <!--SCRIPTS END-->


    </body>
</html>
