.loginForm {
	height: 100%;
}

.loginForm h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #333132;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 18px;
	margin-top: 60px;
	margin-bottom: 0px;
}

.loginForm p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #CCCDCF;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.loginForm input {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 0px none;
	font-size: 11px;
	letter-spacing: 0.05em;
	border-bottom: 2px solid #CCCDCF;
	margin-top: 30px;
}

.loginForm .registerLink {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 20px;
	font-weight: 300;
	border: 0px none;
	font-size: 11px;
	letter-spacing: 0.05em;
	border: 2px solid #999;
	text-align: center;
	line-height: 40px;
	height: 44px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.loginForm .registerLink:hover {
  border: 2px solid #fcab72;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.loginForm a:hover {
  text-decoration: none;
}

.loginForm a{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #333132;
	font-weight: 400;
	letter-spacing: 0.06em;
}

.loginForm button {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 0px none;
	background: #FD9237;
	color: white;
	letter-spacing: 0.08em;
	font-size: 11px;
}

.loginForm .forgotPass {
	margin-bottom: 28px;
}

.loginForm .forgotPass a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: #999;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.loginForm button{
	margin-top: 15px;
	width: 100%;
	margin-bottom: 0px;
	height: 44px;
	line-height: 40px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 0px none;
	background: #FD9237;
	color: white;
	letter-spacing: 0.08em;
	font-size: 11px;
}

.loginForm #hint p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #333132;
}

.loginForm #hint a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: #333132;
}


/* LOGOUT */

.logOut h1 {
	font-family: 'Open Sans', sans-serif;
	color: #999;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
}

.logOut h4 {
	margin-bottom: 30px;
}

/* ERRORS */
.login-error {
}

#incorrect-login-error {
  color: #FF5A5A;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.8em;
  width: 100%;
}

label.error {
  color: #FF5A5A;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.8em;
  width: 100%;
  top: -15px;
  font-weight: 500;
}