#uploadPhotos #myButton {
  width: 120px;
  height: 20px;
  text-align: center;
  color: #FFF;
  letter-spacing: 0.07em;
}

.disabled {
  background: #5C5C5C;
  cursor: default;
}

.enabled {
  background: #5CC672;
  cursor: pointer;
}

#uploadPhotos .img-container {
  display: none;
  width: auto;
  height: 250px;
  text-align: center;
}

.photo-box {
  width: 200px;
  height: 140px;
  background: white;
}

.photo-box .photo-box-header {
  display: block;
  height: 25px;
  background: #333132;
  margin-bottom: 5px;
}

.photo-box .header-remove {
  background: #FBAC27;
}

.photo-box img {
  width: 190px;
  height: 110px;
  margin: 0px 5px 0px 5px;
}

.photo-box input {
  display: none;
}

i.fa-times {
  margin: 2% 2% 0% 0%;
  float: right;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

#supplierPhotos .formWrapper .col-xs-6:nth-child(n+4) {
  margin-top: 40px;
}

.loading {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.cropper-container {
  margin: 0 auto;
  left: 0px !important;
}