/*#uploadPhotos #upload-photo {
  width: 120px;
  height: 20px;
  text-align: center;
  color: #FFF;
  letter-spacing: 0.07em;

  float: right;
  margin-top: 20px;
}*/

#uploadPhotos h5 {
  font-size: 12px !important;
}

#uploadPhotos .hide { 
  display: none;
}

#uploadPhotos .show { 
  display: block;
}

#uploadPhotos #upload-photo {
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 18px;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  width: 156px;
  text-align: center;
  float: right;
  margin-top: 20px;
}

.header-spacer {
  margin-bottom: 10px;
}

.disabled {
  background: #5C5C5C;
  cursor: default;
}

.enabled {
  background: #5CC672;
  cursor: pointer;
}

#uploadPhotos .img-container {
  display: none;
  text-align: center;
}

.photo-box {
  width: auto;
  height: 145px;
  background: white;
  text-align: center;
}

.photo-box .photo-box-header {
  display: block;
  height: 25px;
  background: #333132;
  margin-bottom: 5px;
}

.photo-box .header-remove {
  background: #FBAC27;
}

.photo-box img {
  width: 200px;
  height: 110px;
  margin: 0px 5px 0px 5px;
}

.photo-box input {
  display: none;
}

i.fa-times {
  margin: 2% 2% 0% 0%;
  float: right;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.current-photos .col-xs-6:nth-child(n+4) {
  margin-top: 40px;
}

.loading {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 1000;
}

h3.no-photos {
  margin: 0px;
  padding-left: 15px;
}


/* Button */
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0;
}

.file-wrapper .file-button {
  background: #333132;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 18px;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  margin-top: 0px;
}

.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;

  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;

  font-size: 100px;
}
