#contact {
  margin-top: 8px;
}

#contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 3px solid #d3d3d3;
  padding-bottom: 7px;
  margin-bottom: 25px;
}

#contact h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 0px 10px;
}

#contact h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 20px;
}

#contact p {
  margin: 0px;
  padding-top: 0px;
}

#contact button,
#contact .mailingListInput {
  width: 100%;
}

#contact .mailingListBoxes {
  margin-top: 10px;
}

#contact .checkboxText {
  display: inline;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#contact .heroRow p {
  font-size: 22px;
  font-family: 'Open Sans';
  color: #a3a3a3;
  font-weight: 300;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact .infoSection a {
  color: orange;
}

#contact .infoSection p {
  line-height: 1.8em;
}

#contact .infoSection .emails a {
  color: #a3a3a3;
  font-family: 'Montserrat';
  letter-spacing: 0.06em;
  font-weight: 300;
  font-size: 11px;
}

#contact .infoSection .emails a:hover {
  color: orange;
  text-decoration: none;
}

#contact ul {
  margin: 0px;
  padding: 0px;
}

#contact ul li {
  list-style: none;
  display: inline;
}

#contact ul li i {
  color: #a3a3a3;
  margin-right: 12px;
}

#contact ul li i:hover {
  color: #333132;
  text-decoration: none;
}

#contact .topRow {
  margin-top: 20px;
}

#contact .col-sm-4.middleColumn {
  border-left: 1px dotted #a3a3a3;
  border-right: 1px dotted #a3a3a3;
}

#contact hr.dotted {
  border-top: 1px dotted #a3a3a3;
}

textarea {
  width: 100%;
}