#contact {
  margin-top: 8px;
}

#contact .copy-link {
  text-decoration: none;
  color: orange;
}

#contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 3px solid #d3d3d3;
  padding-bottom: 7px;
  margin-bottom: 25px;
}

#contact h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 0px 10px;
}

#contact h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-color: #333132;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 20px;
}

#contact p {
  margin: 0px;
  padding-top: 0px;
}

#contact .mailingListInput {
  width: 100%;
  background: #F6F5F3;
  margin-bottom: 5px;
  height: 37px;
  line-height: 37px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: 0px none;
  font-size: 11px;
  letter-spacing: 0.05em;
  margin-top: 4px;
  padding-left: 15px;
}

#contact .subscribe-submit {
  display: inline;
  width: 100px;
  height: 37px;
  padding: 0px 40px 0px 0px;
}

#contact .subscribe-submit button {
  color: orange;
  width: 100%;
  background: transparent;
  height: 37px;
  line-height: 37px;
  border: 0px none;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 0;
}

#contact .mailingListBoxes {
  margin-top: 10px;
}

#contact .checkboxText {
  display: inline;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#contact .heroRow p {
  font-size: 22px;
  font-family: 'Open Sans';
  color: #a3a3a3;
  font-weight: 300;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact .infoSection a {
  color: orange;
}

#contact .infoSection p {
  line-height: 1.8em;
}

#contact .infoSection .emails a {
  color: #a3a3a3;
  font-family: 'Montserrat';
  letter-spacing: 0.06em;
  font-weight: 300;
  font-size: 11px;
}

#contact .infoSection .emails a:hover {
  color: orange;
  text-decoration: none;
}

#contact ul {
  margin: 0px;
  padding: 0px;
}

#contact ul li {
  list-style: none;
  display: inline;
}

#contact ul li i {
  color: #a3a3a3;
  margin-right: 12px;
}

#contact ul li i:hover {
  color: #333132;
  text-decoration: none;
}

#contact .topRow {
  margin-top: 20px;
}

#contact .col-sm-4.middleColumn {
  border-left: 1px dotted #a3a3a3;
  border-right: 1px dotted #a3a3a3;
}

#contact hr.dotted {
  border-top: 1px dotted #a3a3a3;
}

textarea {
  width: 100%;
}

#contactForm .contact-email {
  width: 100%;
  margin-bottom: 10px;
  height: 37px;
  line-height: 37px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: 0px none;
  font-size: 11px;
  letter-spacing: 0.05em;
}

#contactForm input {
  width: 100%;
  background: #F6F5F3;
  border: none;
}

#contactForm .styledSelect {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  background: url(/images/ddarrow.png) no-repeat #EDECE8;
  background-position: right center;
}

#contactForm .styledSelect select {
  width: 115%;
  background: transparent;
  border: 0px;
  margin: 4px 0px 4px;
  height: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 11px;
  padding: 0px 4px;
  -webkit-appearance: none;
  color: #b2b2b2;
}

#contactForm .styledSelect option { /* Dropdown font fix for Firefox */
  color: black;
  font-weight: 500;
}

#contactForm textarea {
  width: 100%;
  background: #F6F5F3;
  margin-bottom: 10px;
  height: 250px;
  line-height: 37px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: 0px none;
  font-size: 11px;
  letter-spacing: 0.05em;
  resize: none;
}

#contactForm .contact-submit button {
  float: right;
  width: 100px;
  height: 30px;
  border: none;
  background: orange;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
}
