
#faq h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.06em;
}

#faq li {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.06em;d
}

#faq p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #999;
  line-height: 20px;
  margin-bottom: 40px;
}

#faq h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 28px;
}

#faq .orangeLeft a {
  font-size: 10px;
  color: #999;
  border-left: 2px solid white;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

#faq .orangeLeft a:hover,
#faq li.active {
  background-color: white;
  border-left: 2px solid orange;
  border-top: none;
  border-bottom: none;
  border-right: none;
}



#faq .nav-tabs>li>a {
  border-radius: 0;
}

#faq .nav-tabs {
  border-bottom: none;
}


#faq #nav.affix {
  position: fixed;
  top: 0;
  width:28%;
  max-width: 295px;
}

@-moz-document url-prefix() {
	#faq #nav.affix {
  position: fixed;
  top: 0;
  width:24%;
  max-width: 295px;
}
}

/*

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #faq #nav.affix {
  position: fixed;
  top: 0;
  width:27%;
} 
}
*/

#faq #nav > .navbar-inner {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

#textContainer {
  position: relative !important !important;
}
