/* Import CSS Partials Here */

	/* Registration Wizard */
	@import 'regWizard';

h1, h2, h3, h4, {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

input {
	font-family: 'Roboto', sans-serif;
}
