/* HEADER*/
#mktHeader {
	height: 64px;
	width: 100%;
	background: white;
	margin-bottom: 0px;
}

#mktHeader ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#mktHeader ul li {
	display: inline;
	margin-left: 15px;
	line-height: 74px;
	color: #333132;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	letter-spacing: 0.04em;
}

#mktHeader ul li a {
	color: #333132;
}


/* LINE HEADER */

#mktHeaderLine {
	height: 64px;
	width: 100%;
	background: white;
	margin-bottom: 50px;
}

#mktHeaderLine .container {
	border-bottom: 2px solid #CDCDCD;
	max-height: 64px;
	overflow: hidden;
}

#mktHeaderLine ul {
	list-style: none;
	margin: 0px;
}

#mktHeaderLine ul li {
	display: inline;
	margin-left: 15px;
	line-height: 74px;
	color: #333132;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	letter-spacing: 0.04em;
}

#mktHeaderLine ul li a {
	color: #333132;
}


/* PAGE */
.heroImage {
	width: 100%;
	background: url('../../images/mainBG.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 360px;
}

.heroImage h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
	letter-spacing: 0.06em;
	text-align: center;
	font-weight: 400;
	margin-bottom: 14px;
}

.regForm {
	background-color: rgba(0, 0, 0, 0.16);
	min-height: 360px;
	height: 100%;
	margin-top: -10px;
}

.regForm input {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 0px none;
	font-size: 11px;
	letter-spacing: 0.05em;
}

.regForm button {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 0px none;
	background: #FD9237;
	color: white;
	letter-spacing: 0.08em;
	font-size: 11px;
}

.launchingSoon h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	letter-spacing: 0.06em;
	color: #999;
	font-size: 26px;
	text-align: right;
	margin-top: 50px;
	margin-bottom: 25px;
}

.launchingSoon p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: right;
	line-height: 1.8em;
	color: #444142;
}