.signUpForm {
	background-color: #999;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 7px;
}

.signUpForm h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.signUpForm input {
	width: 100%;
	margin-bottom: 12px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 0px none;
	font-size: 11px;
	letter-spacing: 0.05em;
}


.orLine{
	position: relative;
	top: -20px;
	border-bottom: 2px #CCCDCF dotted;
}

.orText p {
	position: relative;
	padding: 0px;
	line-height: 10px;
	text-align: center;
	background: #999;
	z-index: 9999;
	width: 40px;
	margin: 15px auto 15px auto;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 0.06em;
	font-weight: 400;
}

.signUpForm button {
	width: 100%;
	margin-bottom: 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 0px none;
	background: rgba(241,144,57,0.9);
	color: white;
	letter-spacing: 0.08em;
	font-size: 11px;
}

.loginButton button {
	width: 100%;
	margin: 7px 0px 10px;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 0px none;
	background: #666;
	color: white;
	letter-spacing: 0.08em;
	font-size: 11px;
}

.moreInfo h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 100;
	letter-spacing: 0.06em;
	line-height: 1.5em;
	color: #999;
	margin-top: 5px;
}

.dottedLine {
	border-bottom: 1px dotted #999;
	margin-top: 20px 0px 20px;
}
