<div id="regWizard">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 fieldBox text-center">
				<h4>Let's make sure you've verified your email address.</h4>

				<p class="text-center">Have you already verified your email?</p>

				<div class="row">
					<div class="pillContainer">
						<div class="col-sm-6 col-sm-offset-3">
							<a class="pill" href="/dashboard">Go to Dashboard</a>
						</div>
					</div>
				</div>


				<p class="text-center">Didn't receive an email?</p>

				<div class="row">
					<div class="pillContainer">
						<div class="col-sm-6 col-sm-offset-3">
							<a class="pill" href="/resendverification">Click to Resend Verification</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
