<div id="regWizard">
	<div class="container">
		<div class="row">
		<h1>Let's make sure you've verified your email address.</h1><br/>
		<%- partial('../partials/progressverify') %>
			<div class="col-sm-6 col-sm-offset-3 fieldBox text-center breakForm">
				<h4 class="text-center">Have you already verified your email?</h4>
				<div class="row">
					<div class="pillContainer">
						<div class="col-sm-6 col-sm-offset-3">
							<a class="pill" href="/dashboard">Go to Dashboard</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-sm-offset-3 fieldBox text-center">
				<h4 class="text-center">Didn't receive an email?</h4>
				<div class="row">
					<div class="pillContainer">
						<div class="col-sm-6 col-sm-offset-3">
							<a class="pill" href="/resendverification">Click to Resend Verification</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
