

<div id="regWizard">
	<div class="container emailVerify"
		<div class="row">
			<h1>Complete Your Registration</h1><br/>
			<%- partial('../partials/progressverify') %>
				

				<div class="col-sm-6 col-sm-offset-3 text-center topBox">
					<h1>ALMOST DONE - VERIFY YOUR EMAIL ADDRESS TO FINISH</h1>
				</div>
				<div class="col-sm-6 col-sm-offset-3 text-left fieldBox midBox">
					<p>Please check you email inbox to verify your address. If you didn't receive your verification request via email, <strong><a class="resendLink" href="/resendverification">please click here to re-send link.</a></strong></p>
				</div>
				<div class="col-sm-6 col-sm-offset-3 fieldBox lowBox">
					<div class="row">
						<div class="col-sm-6 bottomLeft">
							<p><strong>Already verified your email address?</strong></p>
						</div>
						<div class="pillContainer col-sm-6">
							<a class="pill text-center" href="/dashboard">CONTINUE TO DASHBOARD</a>
						</div>
					</div>
				</div>
		</div
	</div>
</div>