<h1>Enter info</h1>

<section class="companyForm">
  <form action="/company/create" method="post">
    <div><input type="text" name="companyName" placeholder="Company Name"></div>
    <div><input type="text" name="companyPhone" placeholder="Company Phone"></div>
    <div><input type="text" name="companyPhoneExt" placeholder="Extension"></div>
    <div><input type="text" name="companyFax" placeholder="Company Fax"></div>
    <div><input type="text" name="companyFaxExt" placeholder="Fax Extension"></div>
    <div><input type="text" name="companyWebsite" placeholder="Website"></div>
    <div><input type="text" name="companyAddress1" placeholder="Address Line 1"></div>
    <div><input type="text" name="companyAddress2" placeholder="Address Line 2"></div>
    <div><input type="text" name="companyCountry" placeholder="Country"></div>
    <div><input type="text" name="companyProvince" placeholder="State / Province"></div>
    <div><input type="text" name="companyPostalCode" placeholder="Postal Code"></div>
    <div><input type="checkbox" name="companyIsHq">Location is HQ?</div>
    <div><input type="text" name="hqAddress1" placeholder="HQ Address Line 1"></div>
    <div><input type="text" name="hqAddress2" placeholder="HQ Address Line 2"></div>
    <div><input type="text" name="hqCountry" placeholder="HQ Country"></div>
    <div><input type="text" name="hqProvince" placeholder="HQ State / Province"></div>
    <div><input type="text" name="hqPostalCode" placeholder="HQ Postal Code"></div>
    <div><input type="text" name="companyType" placeholder="Company Type"></div>
    <div><input type="text" name="companyIndustry" placeholder="Industry"></div>
    <div><input type="text" name="companyEmployeeCount" placeholder="Number of Employees"></div>
    <div><input type="submit"></div>
  </form>
</section>
