<%- partial('../partials/mktheader') %>
<%- partial('../partials/dropdown-header') %>
<div id="about">
  <div id="heroArea">
    <div class="container" id="heroContainer">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 textArea">
          <h2 id='overLay'>Procur. Raising the worldwide standard in smart and responsible trading practices.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="inBody">
    <div class="indentLittle">
      <h1>OUR PLATFORM</h1>
        <p><b> Simple. Round pegs, Round holes.</b> Our platform and technologies are specified to make connections easier. We get to know you and what your preferences are. Not every account you win is the same and the nuances are important. We optimize everything a member touches to make this the simplest way of building appropriate relationships.
           <b> Powered. There's a lot under the hood. Let us show you. </b> This is not your grandfather's web-based platform application for wholesale products. We use small data, big data, and advanced "recommendation" algorithms to learn how to optimize your selling and sourcing activities.
           <b> Growth. We are fanatical about growing product companies and top-lines. </b> It's the single-most common thread that businesses worldwide share. We are in the B2B product space and our expertise is in growing product companies, be they suppliers, branded product producers, retailers or distributors - our goal is smarter growth.</p>
    </div>
  </div>

  <div class='row inBody'>
    <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
      <img id="tractor" src="images/about2.png" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
      <div class="blah indentLittle"><h1>WE CARE</h1>
        <p>It's clear to us that quality, community and responsibility are the bookends to creating a long-lasting and efficient marketplace. These ideals are woven into the rhetoric of who we are and architected into the fabric of our software.</p>
      </div>
    </div>
  </div>

  <div class='inBody'>
    <div class='indentLittle'>
      <h2 id="second">We aim to be the dominant marketplace for international trade in the world, while maintaining our three core tenets of Quality, Community and Responsibility.</p>
    </div>
  </div>

  <div class='row inBody indentLittle'>
    <div class="col-xs-4 col-md-4">
      <h3>QUALITY</h3>
        <p>We work to attract members that care about product quality and take extra effort to highlight quality and safety standards. Quality extends beyond the product with the added opportunity for an assessment of the supplier. We know that all important decisions regarding inputs, manufacturing process, and labor ultimately rests with the supplier's decision makers. Great companies make great products, and we help these businesses increase transaction activity by spotlighting both supplier and product quality.</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <h3>COMMUNITY</h3>
        <p>A highly functioning marketplaece is characterized by how effectively it connects people and facilitates trade. As an international sourcing platform, our members benefit from global scale and the advantages of a worldwide trading community. The health of this community is determined by its members; how well they communicate, their ethics, and the smoothness of transactions. We want to be an importat resource for this community, encouraging discussion and promoting intelligent trade.</p>
    </div>
    <div class="col-xs-4 col-md-4">
      <h3>RESPONSIBILITY</h3>
        <p>We take difficult but worthwhile steps to engage in fair and transparent trading practices and encourage others to do the same. There are many B2B marketplaces that do not emphasize this, and by default contribute to the cycle of bad practice. At Procur, we believe that companies have a responsibility to protect workers, society, and the environment - and we work to help them do just that.</p>
    </div>
  </div>

  <div class='row inBody'>
    <div class="text-right">
      <h4>WE INVITE YOU TO JOIN OUT NETWORK AND EXPAND</h4>
    </div>
    <div class="text-right">
      <h4>YOUR BUSINESS OVER OUR INTERNATIONAL SOUNDBOARD</h4>
    </div>
    <div class="text text-right">
      <p>If you have any questions please contact us at:</p>
    </div>
    <div>
      <a href='info@procur.com'>info@procur.com</a>
    </div>
  </div>

<%- partial('../partials/dashboard-footer.ejs') %>
