<%- partial('../partials/mktheader') %>
<%- partial('../partials/dropdown-header') %>
<div id="about">
  <div id="heroArea">
    <div class="container" id="heroContainer">
      <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 textArea">
        <h1>Joining the Procur community is an opportunity to amplify your visibility and engage an international audience of buyers.</h1>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
      <a href="/features"><div class="pill">View upcoming features&nbsp;<span class="glyphicon glyphicon-chevron-right"</span></div></a>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

        <!-- <div class="image">
          <h5><span>Procur. Raising the worldwide standard in <br/>responsible and transparent sourcing practices.</span></h5>
          <img src="images/aboutpage1.png" class="img-responsive">
        </div> -->

        <div class="row">
          <div class="col-sm-12">
            <h1>OUR VIEW ON SOURCING</h1>
            <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
          </div>
        </div>

        <div class='row'>
          <div class="hidden-xs hidden-sm col-md-6 col-lg-7">
            <img id="tractor" src="images/about2.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="blah"><h1>TRANSPARENCY IN TRADE</h1>
              <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
            <h2>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food tr</p>
          </div>
        </div>

        <div class='row'>
          <div class="col-xs-4 col-md-4">
            <h3>QUALITY</h1>
              <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <h3>COMMUNITY</h1>
            <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
          </div>
          <div class="col-xs-4 col-md-4">
            <h3>RESPONSIBILITY</h1>
            <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
          </div>
        </div>

        <div class='row'>
          <div class="text-right">
            <h4>WE INVITE YOU TO JOIN OUT NETWORK AND EXPAND</h4>
          </div>
          <div class="text-right">
            <h4>YOUR BUSINESS OVER OUR INTERNATIONAL SOUNDBOARD</h4>
          </div>
          <div class="text text-right">
            <p>If you have any questions please contact us at:</p>
          </div>
          <div>
            <a href='info@procur.com'>info@procur.com</a>
          </div>
        </div>

      </div>
    </div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
