<%- partial('../partials/mktheaderline') %>

<div class="container" id="about">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>OUR VIEW ON SOURCING</h1>
      <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      <h1>TRANSPARENCY IN TRADE</h1>
      <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      <h2>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food tr</p>
    </div>
  </div>

  <div class='row'>
      <div class="col-xs-6 col-md-4">
        <h3>QUALITY</h1>
        <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
      </div>
      <div class="col-xs-6 col-md-4">
        <h3>COMMUNITY</h1>
        <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
      </div>
      <div class="col-xs-6 col-md-4">
        <h3>RESPONSIBILITY</h1>
        <p>You probably haven't heard of them plaid gastropub banh mi. Artisan Schlitz locavore squid bitters High Life. Normcore polaroid letterpress food truck small batch. Actually mixtape Bushwick, ugh aesthetic vegan leggings banjo bicycle rights. Cornhole plaid banh mi McSweeney's Marfa Brooklyn messenger bag, narwhal leggings PBR seitan tattooed raw denim Wes Anderson forage. Jean shorts quinoa post-ironic kale chips, tofu YOLO Bushwick crucifix sriracha plaid. Wayfarers Tumblr Austin, mumblecore ugh banjo Blue Bottle fap.</p>
      </div>
    </div>


  <div class='row'>
      <div class="info text-right">WE INVITE YOU TO JOIN OUT NETWORK AND EXPAND</div>
      <div class="info text-right">YOUR BUSINESS OVER OUR INTERNATIONAL SOUNDBOARD</div>
      <div class="text text-right">If you have any questions please contact us at:</div>
      <div><a href='info@procur.com'>info@procur.com</a></div>
  </div>

</div>
