<%- partial('../partials/mktheaderline') %>

<div class="container" id="careers">
  <div class="row topRow">
    <!-- THE SIDEBAR SECTION BEGINS HERE -->          
    <div class="col-sm-4 sideBar">
      <!-- TITLE AND LINE -->
      <h1 class="sideBarTitle">Careers &amp; Job Openings</h1>
      <!-- TAGLINE AREA -->
      <div class="tagLine">
        <p>Procur&trade; is a new web platform focused on transparency in trade. Check out our available positions below:</p>
      </div><!-- /.tagLine -->


      <div class="sideBarNavSection">
        <h2>The Basics</h2>
        <hr>
        <div class="row">
        <div class="col-xs-2 glandular">
          <i class="fa fa-map-marker fa-fw"></i>
        </div><!-- /.col-xs-2 .glandular -->
        <div class="col-xs-10 details">
          <p><span class="miniTitle">Location</span><br/>Atlanta, GA (Buckhead)</p>
        </div><!-- /.col-xs-10 .details -->
      </div><!-- /.row -->
      <!-- BULLET ROW -->
      <div class="row">
        <div class="col-xs-2 glandular">
           <i class="fa fa-user fa-fw"></i>
        </div><!-- /.col-xs-2 .glandular -->
        <div class="col-xs-10 details">
          <p><span class="miniTitle">Current Team Members</span><br/>20-25</p>
        </div><!-- /.col-xs-10 .details -->
      </div><!-- /.row -->
      <!-- BULLET ROW -->
      <div class="row">
        <div class="col-xs-2 glandular">
          <i class="fa fa-building-o fa-fw"></i>
        </div><!-- /.col-xs-2 .glandular -->
        <div class="col-xs-10 details">
          <p><span class="miniTitle">Industry</span><br/>Web-based B2B Platform</p>
        </div><!-- /.col-xs-10 .details -->
      </div><!-- /.row -->
      </div>
      <!-- /.sideBarNavSection -->

      <!-- SIDEBAR NAVIGATION AREA -->
      <div class="sideBarNavSection">
        <h2>Full-Time Positions</h2>
        <hr>
        <ul>
          <li><a href="https://s3.amazonaws.com/procur-docs/AERoleDescription%7CProcur.pdf" target="_blank">Account Executive</a></li>
        </ul>
      </div><!-- /.sideBarNavSection -->
    </div><!-- /.col-sm-3 .sideBar -->

    <!-- ABOUT PROCUR SECTION BEGINS HERE -->
    <div class="col-sm-8 aboutProcur mainCopy">
      <!-- TITLE AND LINE -->
      <div class="generalSectionTitle">
        <h4>About Procur</h4>
      </div><!-- /.generalSectionTitle -->
        <!-- PARAGRAPHICAL CONTENT -->
        <p><b>Let us introduce ourselves.</b> Procur is an online B2B company that provides a web platform focused on bringing transparency and responsible sourcing practices to the international trade market. Simply put, we help businesses find finished and unfinished goods from a network of worldwide suppliers. We encourage fair practice with regard to labor, pricing mechanisms, product safety, environmental standards, and to do whatever is necessary to create a lasting and efficient global marketplace.</p>
        <p><b>You should work with us...</b> if you believe in elegant solutions that promote transparency throughout the supply chain, from independent makers and sellers of goods to the end consumer.</p>
        <p><b>Our company culture.</b> Half tech start-up; half global trade pioneer. We are a lifestyle company that practices what we advocate. Expect to come to work ready to brainstorm new ways to solve problems, work in a close-knit open office environment that fosters creativity and community, and help build a new brand of online platform that believes that good ideas should be put into action daily. <br/><br/>
        We are in the process of assembling a team of smart, engaged and passionate team members, who want to be a key part of building Procur from the ground-floor. Sound like you? Great, let’s get started...<br/><br/>
        Click on a job opening to find out more about the position and how to apply.</p>
    </div><!-- /.col-sm-3 .aboutProcur -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="contactSection">
        <h3>Don't see the position that's right for you?</h3>
        <p>Here at Procur, new positions come up frequently. If you have experience in sales, marketing, social media, and/or software development, please rend us your resume at
          <a href="mailto:careers@procur.com">careers@procur.com</a>
        </p>
      </div><!-- /.contactSection -->
    </div>
  </div>
</div><!-- /.container -->
<div class="push"></div><!-- /.push -->
    
<%- partial('../partials/dashboard-footer.ejs') %>
