<%- partial('../partials/mktheaderline') %>

<h1>Contact Us</h1>
<%- req.flash('status') %>
<form action="/contact/subscribe" method="post" id="subscriberForm">
	<div><input type="text" name="subscriberEmail" placeholder="email@your-address.com"></div>
	<div>
		<input type="checkbox" name="chkList1" value="list1" checked>Procur.com Changes and Updates<br>
		<input type="checkbox" name="chkList2" value="list2" checked>Trade & Industry Newsletter<br>
		<input type="checkbox" name="chkList3" value="list3" checked>General News & Announcements<br>
	</div>
	<div><button type="submit">Submit</button></div>
</form>
<form action="/contact" method="post" id="contactForm">
   <div><input type="text" name="email" placeholder="Email"></div>
	<div><select name="field1">
			<option value="" disabled selected>What's your reason for contacting us?*</option>
			<option value="The first reason" >The first reason.</option>
			<option value="The second reason" >The second reason.</option>
			<option value="The third reason" >The third reason.</option>
	</select>
	</div>
	<div><select name="field2">
			<option value="" disabled selected>Field 2*</option>
			<option value="The first reason" >The first reason.</option>
			<option value="The second reason" >The second reason.</option>
			<option value="The third reason" >The third reason.</option>
		</select>
	</div>
	<div><select name="field3">
			<option value="" disabled selected>Field 3*</option>
			<option value="The first reason" >The first reason.</option>
			<option value="The second reason" >The second reason.</option>
			<option value="The third reason" >The third reason.</option>
		</select>
	</div>
   <div><textarea name="content" form="contactForm" rows="15" cols="90" placeholder="Write a message here."></textarea></div>
   <div><button type="submit">Send</button></div>
</form>
<script>
</script>

