<%- partial('../partials/mktheader') %>
<%- partial('../partials/dropdown-header') %>
<div id="earlyAccess">
  <div id="heroRow">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" id="heroArea">
        <div class="row heroContent">
          <div class="col-lg-5 col-md-6 col-sm-8">
            <div class="heroWelcome">
              <h1>Welcome to Procur Early Access.</h1>
            </div>
            <div class="heroText">
              <h2>Experience a new way of selling and sourcing products.</h2>
              <h3>Introducing a new plaform that is:</h3>
              <h4> <i class="fa fa-play"></i> Data driven</h4>
              <h4> <i class="fa fa-play"></i> Goal-oriented</h4>
              <h4> <i class="fa fa-play"></i> Transactional</h4>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End hero row -->
  
    <div class="row">
      <div class="col-md-8 col-sm-12" id="explanation">
        <p><span class="questionText">What is Early Access?</span> Sed accumsan luctus nibh. Etiam pellentesque velit nibh, adipiscing faucibus urna tristique vitae. Quisque nibh orci, luctus sit amet malesuada at, laoreet in nisi. Morbi sapien nunc, ornare quis dui sit amet, elementum mollis dui. Nullam consectetur, nulla id bibendum auctor, metus elit consequat ante, nec ullamcorper sapien risus vel est.</p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2" id="registerNow">
        <a href="/signup"><div class="registerNowButton">Register Now for Early Access</div></a>
        <a href="/faq" class="helper">Have questions? View our FAQ <i class="fa fa-chevron-right"></i></a>  
      </div>
    </div><!-- End registration row -->
    
    <hr class="separator" />

    <div class="row featuresColumn">
      <div class="col-md-4 col-sm-6">
        <h3>Currently Accessible:</h3>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-companyProfiles">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Company Profiles</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Extensive, detailed and open, our Company Profile Database provides valuable buyer and supplier information in an effort to maintain transparency and extend community, whether users are on our marketplace or elsewhere on the web.</p>
        </div>
      </div>
      <!-- End left column -->

      <div class="col-md-4 col-sm-6">
        <h3>Releasing:</h3>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-uploadPhotos">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Upload Company Photos</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Visuals go a long way; Add up to 10 images to display on your buyer or supplier profile to showcase your brand, product line, facilities and company culture.</p>
        </div>
        <div class="rightSec rightAlt" id="ea-mailingLists">
          <div class="rightSecBox">
          <i class="fa fa-search fa-fw"></i>
          </div>
          <a>Manage Mailing Lists</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>
        <div class="featuresDetail">
          <p>Want to subscribe to certain communications from Procur like our community newsletter, company announcements, and/or platform news and updates? You'll soon be able to easily manage your preferences through your User Account Settings in My Procur.</p>
        </div>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-supplierCapabilities">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Add Supplier Capabilities</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Your company is more than just your existing product line-up. Provide essential capabilities that your company provides to be matched with even more buyers within our marketplace.</p>
        </div>
      </div>
      <!-- End middle column -->

      <div class="col-md-4 col-sm-6">
        <h3>Coming Soon:</h3>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-externalLinks">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Add External Links</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Get more mileage out of your company profile by adding links to outside pages to offer additional information that you want to share with potential trading partners.</p>
        </div>
        <div class="rightSec rightAlt">
          <div class="rightSecBox" id="ea-downloadableFiles">
          <i class="fa fa-search fa-fw"></i>
          </div>
          <a>Provide Downloadable Files</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>
        <div class="featuresDetail">
          <p>Make creating a successful partnership easier by offering the information buyers are looking for up-front in a downloadable format directly from your company's profile.</p>
        </div>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-marketDistribution">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Display Market Distribution</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Give potential global partners a quick and easy breakdown of your current market distribution internationally.</p>
        </div>
        <div class="rightSec rightAlt">
          <div class="rightSecBox" id="ea-communityResources">
          <i class="fa fa-search fa-fw"></i>
          </div>
          <a>Community Resources</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>
        <div class="featuresDetail">
          <p>Connect with other members to leverage the power of the Procur community; gain access to regular resources and reports on learning how you can sell better.</p>
        </div>
        <div class="rightSec">
          <div class="rightSecBox" id="ea-productProfiles">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <a>Product Profiles</a>
          <div class="rightSecIndicator plus">
            <i class="fa fa-plus fa-fw"></i>
          </div>
          <div class="rightSecIndicator minus">
            <i class="fa fa-minus fa-fw"></i>
          </div>
        </div>

        <div class="featuresDetail">
          <p>Our product listings include everything you’d expect, as well as additional allowances for suppliers to provide detailed information such as associated certifications, and quality and sourcing claims.</p>
        </div>
      </div>
      <!-- End right column -->
    </div><!-- End features row -->
    
    <div class="row pdfDownload">
      <div class="col-sm-12">
        <a href="#"><i class="fa fa-download fa-fw"></i> Download Full List of Features (PDF)</a>
      </div>
    </div><!-- End pdfDownload row -->

  </div>
    <!-- End Container -->
</div>
  <!-- End  earlyAccess-->