<%- partial('../partials/mktheaderline') %>

<div class="container" id="faq">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <div class="row">

        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 navbar-example" id="nav-wrapper">
            <div id="nav" class="navbar">
              <div class="navbar-inner">
                <h2>FREQUENTLY ASKED QUESTIONS</h2>
                  <ul class="nav nav-tabs">
                    <li><a href="#q1">Question Question Question 1</a></li>
                    <li><a href="#q2">Question Question Question 2</a></li>
                    <li><a href="#q3">Question Question Question 3</a></li>
                    <li><a href="#q4">Question Question Question 4</a></li>
                    <li><a href="#q5">Question Question Question 5</a></li>
                    <li><a href="#q6">Question Question Question 6</a></li>
                  </ul>
                </div>
            </div>
        </div>


        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-7 scrollspy-example" data-spy="scroll" data-target=".nav-tabs" data-offset="0">
          <h4 id="q1">Question Question Question 1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>
          <h4 id="q2">Question Question Question 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>
          <h4 id="q3">Question Question Question 3</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>
          <h4 id="q4">Question Question Question 4</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>
          <h4 id="q5">Question Question Question 5</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>
          <h4 id="q6">Question Question Question 6</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a volutpat purus. Mauris ut lectus eget massa lacinia pellentesque. Aliquam id congue lacus, id tempor nunc. Ut sit amet mollis ante, ut adipiscing ipsum. Ut tempus odio vitae tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non convallis erat. Cras auctor metus eu ante suscipit congue. Ut pharetra enim et lectus pulvinar, in mattis nisl mollis. Nullam tempus mi id imperdiet sollicitudin. Ut euismod quam id lobortis hendrerit. Etiam pharetra dui ligula, quis vestibulum orci egestas vitae. Aenean vulputate sed nisl eu porta. Mauris vehicula viverra consequat. Fusce ac augue id sem aliquet bibendum. Vivamus ut lobortis ligula, nec viverra tellus.</p>


        </div>


      </div>
    </div>
  </div>
</div>
