<%- partial('../partials/mktheaderline') %>
<div class="container" id="faq">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div id="textContainer">
                    <div class="col-lg-5 col-md-6 col-sm-5 col-xs-5" id="nav-wrapper">
                        <div id="nav" class="navbar" data-spy="affix" data-offset-top="115" data-offset-bottom="200">
                            <div class="navbar-example">
                                <h2>SUPPORT</h2>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a href="#q1">What is Procur?</a></li>
                                    <li><a href="#q2">Can I download Procur?</a></li>
                                    <li><a href="#q3">Is Procur a supplier?</a></li>
                                    <li><a href="#q4">What is the Early Access period, and what can Early Access members do?</a></li>
                                    <li><a href="#q5">Can I sign up for a Premium or Basic membership during the Early Access period?</a></li>
                                    <li><a href="#q6">How do I sign up?</a></li>
                                    <li><a href="#q7">Will I need to sign up again for a membership once you launch the full Procur platform?</a></li>
                                    <li><a href="#q8">Once you launch, how do I join Procur as a Basic Member? What are the benefits of Basic Membership?</a></li>
                                    <li><a href="#q9">Should I upgrade to Premium Membership? What are the benefits of Premium Membership?</a></li>
                                    <li><a href="#q10">Can I switch my account type?</a></li>
                                    <li><a href="#q11">Will Procur allow for multiple user accounts for a single company?</a></li>
                                    <li><a href="#q12">Can people find my profile on the web through a search engine?</a></li>
                                    <li><a href="#q13">Can I have both a Buyer profile and a Supplier company profile?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-7 col-xs-7" data-offset="0">

                        <div id="q1">
                            <h4>What is Procur?</h4>
                            <p>Procur is an online business-to-business (B2B) platform for selling and sourcing products. We are currently in an Early Access phase and will be launching our full platform soon.</p>
                        </div>
                        <div id="q2">
                            <h4>Can I download Procur?</h4>
                            <p>No. Procur is a web-based platform and is not available for download.</p>
                        </div>
                        <div id="q3">
                            <h4>Is Procur a supplier?</h4>
                            <p>Procur is a communications platform that connects buyers and suppliers. Procur is not a supplier, buyer, reseller, wholesaler, nor a trading company. As such, we do not provide price quotes, send products, or guarantee transactions for our members.</p>
                        </div>
                        <div id="q4">
                            <h4>What is the Early Access period, and what can Early Access members do?</h4>
                            <p>The Early Access period is designed to allow users to create accounts complete with company profiles, products, settings, and Requests for Quotes (RFQs) prior to the full launch of the platform. This way, users can login on launch day fully prepared and ready to do business.</p>
                        </div>
                        <div id="q5">
                            <h4>Can I sign up for a Premium or Basic membership during the Early Access period?</h4>
                            <p>No. We are currently allowing users to sign up for Early Access accounts, which are free. We will be launching our full platform soon, which will include Basic and Premium Memberships.</p>
                        </div>
                        <div id="q6">
                            <h4>How do I sign up?</h4>
                            <p>You may <a href="/signup">register now</a> for a free account to gain access to Early Access platform features on our <a href="/">homepage</a>.</p>
                        </div>
                        <div id="q7">
                            <h4>Will I need to sign up again for a membership once you launch the full Procur platform?</h4>
                            <p>No. Once you’ve signed up for an account, you will not need to register again. Existing members will have the option to choose between either a Premium or Basic membership at that time.</p>
                        </div>
                        <div id="q8">
                            <h4>Once you launch, how do I join Procur as a Basic Member? What are the benefits of Basic Membership?</h4>
                            <p>When the full platform is available, existing Early Access members will be given the option of using a Basic or Premium Membership. To learn about the benefits of Basic Membership once we launch, view our <a href="/pricing">Membership & Pricing page</a>.</p>
                        </div>
                        <div id="q9">
                            <h4>Should I upgrade to Premium Membership? What are the benefits of Premium Membership?</h4>
                            <p>Once we launch our full platform, Premium Membership accounts will only be available for suppliers. Suppliers are encouraged to upgrade their membership to Premium Membership status to increase traffic to their products and storefronts. To learn more about the differences between Basic & Premium Membership accounts, view our <a href="/pricing">Membership & Pricing Information</a>.</p>
                        </div>
                        <div id="q10">
                            <h4>Can I switch my account type?</h4>
                            <p>Once we launch, you may upgrade your account at any time. Once you have upgraded to a paid membership, your Premium membership status will remain active until it expires.</p>
                        </div>
                        <div id="q11">
                            <h4>Will Procur allow for multiple user accounts for a single company?</h4>
                            <p>Yes, Procur will offer multiple user accounts for companies holding Premium Membership status once we launch our full platform. Within User Settings, a company may elect to add up to five employee accounts under each Premium Membership account. To learn more about Premium Member features, view our <a href="/pricing">Membership & Pricing Information</a>.</p>
                        </div>
                        <div id="q12">
                            <h4>Can people find my profile on the web through a search engine?</h4>
                            <p>Yes. Your profile and storefront are searchable on the web. This makes it possible for users to find you using popular search engines, and can provide a substantial Search Engine Optimization enhancement.</p>
                        </div>
                        <div id="q13">
                            <h4>Can I have both a Buyer profile and a Supplier company profile?</h4>
                            <p>You may <a href="/signup">register now</a> for a free account to gain access to Early Access platform features on our <a href="/">homepage</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- THESE ADD ATTRIBUTES TO THE BODY ELEMENT SO THAT SCROLLSPY WILL WORK -->
<script>
    document.getElementsByTagName("body")[0].setAttribute("data-spy","scroll");
    document.getElementsByTagName("body")[0].setAttribute("data-target",".navbar-example");
</script>
