
<%- partial('../partials/mktheaderline') %>

<div id="features">
	<div class="row heroImage">
		<div class="container heroOverLay">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<p id="heroWhite"><strong>Packed with Features.</strong>  See what's waiting for you around the corner when we launch Procur.</p>
				</div> 
			</div>
		</div>
		<div class="container heroOverLay2">
			<div class="row">
				<div class"col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="buttonWrapper"><a id="heroButton" href="/signup">Learn more about our upcoming membership & pricing details&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h1>Coming Soon!</h1>
				<p><strong>Sign up for your free account now</strong>, and once we launch you will have the <strong>option of Premium or Basic membership</strong>.  You can read more about our <strong>upcoming membership pricing & features below.</strong></p>
				<hr>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check"></i>&nbsp&nbspAll your base are belong to me</li>
					<li><i class="fa-li fa fa-check"></i>&nbsp&nbspAll your base are belong to me</li>
					<li><i class="fa-li fa fa-check"></i>&nbsp&nbspAll your base are belong to me</li>
					<li><i class="fa-li fa fa-check"></i>&nbsp&nbspAll your base are belong to me</li>
				</ul>
			</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="featuresColumn">
            <h4>Features Currently Accessible In Early Access:</h4>
            <div class="rightSec">
              <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#">Registered Trading Profile</a>
            </div>

            <h4>Features Coming Soon:</h4>
            <div class="rightSec">
              <div class="rightSecBox">
              <i class="fa fa-envelope fa-fw"></i>
              </div>
              <a href="#">In-App Message System</a>
            </div>
            <div class="rightSec rightAlt">
              <div class="rightSecBox">
              <i class="fa fa-search fa-fw"></i>
              </div>
              <a href="#">Advanced Search</a>
            </div>
            <div class="rightSec">
              <div class="rightSecBox">
              <i class="fa fa-truck fa-fw"></i>
              </div>
              <a href="#">Tradestream RFx Manager</a>
            </div>
            <div class="rightSec rightAlt">
              <div class="rightSecBox">
              <i class="fa fa-th-large fa-fw"></i>
              </div>
              <a href="#">Product Database</a>
            </div>
            <div class="rightSec">
              <div class="rightSecBox">
              <i class="fa fa-user fa-fw"></i>
              </div>
              <a href="#">Multiple User Accounts</a>
            </div>
            <h5>Learn More About Early Access</h5>
            <div class="bottomRightClicker">
            	<a id="registerNow" href="/signup">Register Now for Early Access</a>
            	<h6 class="text-right">Have questions? <a id="faqLink" href="/faq">View our FAQ ></a></h6>
            </div>
          </div>
        </div>
			</div>
	</div>


<section id="tech">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <hr>
        <h3>Platform &amp; Trade Tools</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Marketplace</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Find exactly what you need quickly and easily. Our marketplace allows users to search any item from any supplier, then filter that search by dozens of additional qualifiers. </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Tradestream&trade;</h4>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>TradeStream makes it easy to initiate trade, even if the perfect product isn't on the marketplace. Procur fosters communication and integrates proposals and counter-proposals as a natural part of doing business.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Comprehensive Product Listings</h4>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>We know that details matter. Our product listings include everything you'd expect, as well as allowances for suppliers to provide detailed information such as associated certifications, along with quality and sourcing claims.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Tradetrack&trade;</h4>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Track your order with ease with our mutual confirm &amp; status monitoring system.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Registered Trading Partner Database</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Extensive, detailed and open, the Registered Trading Partner Database provides valuable company listings in an effort to enhance transparency and extend community, whether users are on our marketplace or elsewhere on the web.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Alerts &amp; Notifications</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Individual item notification for important account activity upon login.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>TradeGap&trade;</h4>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Explore new opportunities for regional and international growth based off individual and aggregate performance data.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br/><br/>

    <div class="row">
      <div class="col-sm-3">
        <hr>
        <h3>Accounts &amp; Accessibility</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>User Dashboard</h4>
              <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Quick summary view of your status for all orders and trading activity.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Multi-User Accounts</h4>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Premium members may add up to 5 additional user accounts for their company.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Easy-To-Use Interface</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Visual and intuitive interface that has been designed for user ease.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Device Compatibility</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Responsive design optimized for viewing on desktop, tablet and mobile.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Multi-Language</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Multi-language support throughout the Procur platform.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Region-Specific TLDs</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>
              </div>
              <div class="col-md-6">
                <p>Access through your country's own TLD code for increased region-specificity.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<br/><br/>
		<div id="communityRow">
    <div class="row">
      <div class="col-sm-3">
        <hr>
        <h3>Community &amp; Support</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Community Knowledgebase</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Some trade-related questions really do require a specialist, or even a local expert. Our Knowledgebase connects industry members from around the world to create a uniquely powerful forum for trade-related discussion, assistance, and information.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Industry Guides</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Expand with confidence, as our trade guides help propel entrance into new markets, new types of transactions, and even new industries.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Glossary</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Our dictionary of common - and less common - trade terms to ensure that Partners from around the world are communicating clearly.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>Trade &amp; Industry News</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Keep on top of the international trade scene with our own internal Trade &amp; Industry News, dedicated to bringing you insightful and meaninful information, updates, and stories.</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h4>FAQs &amp; Support Articles</h4>
                <div class="availability"><i class="fa fa-circle-o"></i> Basic</div>
              <div class="availability"><i class="fa fa-circle"></i> Premium</div>

              </div>
              <div class="col-md-6">
                <p>Whether it's just getting started or handling complex operations, Procur stands by our platform. From Frequently Asked Questions to how-to's complete with video walkthroughs, we make finding the help you need simple and efficient. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <p class="footnote">*This list is not intended to be exclusive or comprehensive of the final features of the procur.com website or its subsidiaries. All technologies listed here are subject to change and may not be included in the final launch of the platform. </p>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="expander-contractor">
	<div class="container">
		<div class="row">
			<p class="toggleText" id="toggleText"> See More Upcoming Features </p>
		</div>
	</div>

</section>
</div>
