<%- partial('../partials/mktheader') %>

<!--Start Header Pic -->
<div class="row heroImage">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 regForm">
        <h3>Sign up for Early Access:</h3>
        <form action="/register" id="registration-form" method="post">
          <div><input type="text" name="firstName" placeholder="First Name*" tabindex="1"></div>
          <div><input type="text" name="lastName" placeholder="Last Name*" tabindex="2"></div>
          <div><input type="text" name="email" id="regEmail" placeholder="Business Email Address*" tabindex="3"></div>
          <div><input type="password" name="password" id="regPassword" placeholder="Create a Password*" tabindex="5"></div>
          <div><input type="password" name="passwordConfirm" placeholder="Confirm Password*" tabindex="6"></div>
          <div><button type="submit" class="registerButton" tabindex="7">Register Now for Early Access</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Header Pic-->

<!--Start Mid Section-->
<div class="indexMid">
<div class="container-fluid">
  <div class="row-fluid">
    <!--Start Carousel-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1"></li>
        </ol>
      <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="grayBox">
            </div>
            <div class="carousel-caption">
              <h4>SELL BETTER.</h4>
              <h3>Access new marketplaces in the U.S. and abroad.</h3>
              <hr>
              <ul>
                <li>THIS IS AN EXPLANATION.</li>
                <li>A SELLING POINT GOES HERE</li>
                <li>TELL THEM MORE ABOUT WHAT YOU'RE TRYING TO SAY.</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="grayBox">
            </div>
            <div class="carousel-caption">
              <h4>SELL BETTER.</h4>
              <h3>Access new marketplaces in the U.S. and abroad.</h3>
              <hr>
              <ul>
                <li>THIS IS AN EXPLANATION</li>
                <li>A SELLING POINT GOES HERE</li>
                <li>TELL THEM MORE ABOUT WHAT YOU'RE TRYING TO SAY</li>
              </ul>

            </div>

          </div>

        </div>
      <!-- Controls -->
      
          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <div class="glyphicon glyphicon-chevron-right"></div>
          </a>
          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <div class="glyphicon glyphicon-chevron-left"></div>
          </a>
    
      </div>
    </div>
    <!--End Carousel-->

    <!-- START Right Column -->
    <div class="midSecRight">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h1>Procur is a platform for connecting buyers and suppliers of wholesale and branded goods. We emphasize corporate transparency and product quality.</h1>
        <h1>We will be launching our full platform soon!</h1>
        <hr align="left">
        <p>In the meantime, we are inviting new users to sign up for free early access accounts.  As one of these select users, you have the ability to register now with limited access to create your company profile, add and organize products and RFQs, and start plugging into our trade community.</p>
        <div class="row">
          <div class="buttonRow">
            <div class="BL col-lg-6 col-md-7 col-sm-12 col-xs-12">
              <a class="buttonLeft" href="/features">See the full list of features coming when we launch Procur&reg&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="BR col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <a class="buttonRight" href="/signup">Create a free account now&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END Right Column-->
  </div>
  <!--END Mid Section-->
</div>
</div>

