<%- partial('../partials/mktheader') %>

<div class="row heroImage">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 regForm">
        <h3>Sign up for Early Access:</h3>
        <form action="/register" id="registration-form" method="post">
          <div><input type="text" name="firstName" placeholder="First Name*" tabindex="1"></div>
          <div><input type="text" name="lastName" placeholder="Last Name*" tabindex="2"></div>
          <div><input type="text" name="email" id="regEmail" placeholder="Business Email Address*" tabindex="3"></div>
          <div><input type="password" name="password" id="regPassword" placeholder="Create a Password*" tabindex="5"></div>
          <div><input type="password" name="passwordConfirm" placeholder="Confirm Password*" tabindex="6"></div>
          <div><button type="submit" class="registerButton" tabindex="7">Register Now for Early Access</button></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8 launchingSoon">
          <h2>We will be launching our full platform soon!</h2>
      <p> In the meantime, we are inviting new users to sign up for free early access accounts. As one of these select users, you have the ability to register now with limited access to create your company profile, add and organize products and RFQs, and start plugging into our trade community. This way, you're ready to immediately start selling, buying and networking on Procur when we launch, without losing any time.</p>
    </div>
</div>
