<%- partial('../partials/mktHeader') %>

<div class="row heroImage">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 regForm">
        <h3>Sign up for Early Access:</h3>
        <form action="/register" method="post">
          <div><input type="text" name="firstName" placeholder="First Name*"></div>
          <div><input type="text" name="lastName" placeholder="Last Name*"></div>
          <div><input type="text" name="email" placeholder="Business Email Address*"></div>
          <div><input type="password" name="password" placeholder="Create a Password*"></div>
          <div><input type="password" name="passwordConfirm" placeholder="Create a Password*"></div>
          <div><button class="registerButton" type="submit">Register Now for Early Access</button></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
    </div>
</div>

<% var message; %>
<p style="color:red;"><%- message %></p>

<h1>Home</h1>

<section id="login">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div><input type="text" name="email" placeholder="Email Address"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="submit"></div>
  </form>
</section>


<section id="register">
  <h2>Register</h2>
  <form action="/register" method="post">
    <div><input type="text" name="firstName" placeholder="First Name"></div>
    <div><input type="text" name="lastName" placeholder="last Name"></div>
    <div><input type="text" name="email" placeholder="Email"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="password" name="passwordConfirm" placeholder="Confirm"></div>
    <div><input type="submit"></div>
  </form>
</section>

<a href="/forgotpassword">Forgot Password</a>
