<% if (req.session.flash) { %>
  <div style="text-align: center;" id="incorrect-login-error"><%= req.flash('error') %></div>
<% } %>

<%- partial('../partials/mktheader') %>

<!--Start Header Pic -->
<div class="row heroImage" id="homePage">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 regForm">
        <h3>Sign up now for Early Access</h3>
        <form action="/register" id="registration-form" method="post">
          <div><input type="text" name="firstName" placeholder="First Name*" tabindex="1"></div>
          <div><input type="text" name="lastName" placeholder="Last Name*" tabindex="2"></div>
          <div><input type="text" name="email" id="regEmail" placeholder="Business Email Address*" tabindex="3"></div>
          <div><input type="password" name="password" id="regPassword" placeholder="Create a Password*" tabindex="5"></div>
          <div><input type="password" name="passwordConfirm" placeholder="Confirm Password*" tabindex="6"></div>
          <div><button type="submit" class="registerButton" tabindex="7">Create your free account now</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Header Pic-->

<!--Start Mid Section-->
<div class="indexMid">
<div class="container">
  <div class="row">
    <!--Start Carousel-->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div id="homeCarousel" class="carousel slide" data-ride="carousel"> <!-- ////data-ride="carousel"///// as attribute here if want auto slide-->
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1"></li>
        </ol>
      <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="grayBox">
            </div>
            <div class="carousel-caption" style="text-shadow: {none};">
              <h4>SELL BETTER.</h4>
              <h3>Have a brand you want to expand?</h3>
              <hr>
              <ul>
                <li>Increase your company's visibility at home and abroad.</li>
                <li> Access retailers, resellers and distributors at their point of need.</li>
                <li>Promote your brand through Procur's product database and platform.</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="grayBox">
            </div>
            <div class="carousel-caption">
              <h4>SOURCE BETTER.</h4>
              <h3>Gain access to new trading partners.</h3>
              <hr>
              <ul>
                <li>Observe new product trends as they occur, in real time.</li>
                <li>Identity new markets and suppliers using Procur's proprietary analytics tools.</li>
                <li>Create customized RFQs and receive filtered results from qualified suppliers.</li>
              </ul>

            </div>

          </div>

        </div>
      <!-- Controls -->
        <div class="carousel-control-wrapper">
          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
    
      </div>
    </div>
    <!--End Carousel-->

    <!-- START Right Column -->
    <div class="midSecRight">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h1>Sales growth is hard. We make it easier</h1>
        <h1>We will be launching our full platform soon!</h1>
        <hr align="left">
        <p>Procur matches product suppliers with buyers. Our platform is uniquely engineered to make better connections, faster. We make the introduction - you form the relationship.<br/><br/>During Early Access, members will be able to create company profiles, organize products and RFQs, and engage with our online community. See the <a class="embedLink" href="/features">full list of features</a> that will be available we launch our platform. Become a registered trading partner today!</p>
        <div class="row">
          <div class="buttonRow">
            <div class="BL col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <a class="buttonLeft" href="/features">See the full list of features coming when we launch Procur&reg;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="BR col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <a class="buttonRight" href="/signup">Create an Early Access account now&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END Right Column-->
  </div>
  <!--END Mid Section-->
</div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
