<h1>Home</h1>

<section id="login">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div><input type="text" name="email"></div>
    <div><input type="password" name="password"></div>
    <div><input type="submit"></div>
  </form>
</section>


<section id="regiser">
  <h2>Register</h2>
  <form action="/register" method="post">
    <div><input type="text" name="firstName" placeholder="First Name"></div>
    <div><input type="text" name="lastName" placeholder="last Name"></div>
    <div><input type="text" name="email" placeholder="Email"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="password" name="passwordConfirm" placeholder="Confirm"></div>
    <div><input type="submit"></div>
  </form>
</section>
