
<section id="login">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div><input type="text" name="email" placeholder="Email Address"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="submit"></div>
  </form>
</section>