<%- partial('../partials/mktheader') %>

<div id="pricing">
  <div id="heroArea">
    <div class="container" id="heroContainer">
      <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 textArea">
        <h1>Joining the Procur community is an opportunity to amplify your visibility and engage an international audience of buyers.</h1>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
      <a href="/features"><div class="pill">View upcoming features&nbsp;<span class="glyphicon glyphicon-chevron-right"</span></div></a>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-8 col-sm-12 comingSoon">
            <h1>Coming Soon!</h1>
            <p><a href="/signup"><b>Register with your free account now</b></a>, and select either a Basic or Premium supplier membership when we launch. You can read more about our upcoming membership pricing below.</p>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2" id="registerNow">
            <a href="/signup"><div class="registerNowButton">Register Now for Early Access</div></a>
            <a href="/faq" class="helper">Have questions? View our FAQ <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
        <!-- End of Pitch Row -->

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>

      <div class="col-md-10 col-md-offset-1 pricingComparison">
        <div class="row">
          <div class="col-sm-6">
            <h1>Supplier Membership Pricing &amp; Comparison</h1>
            <div id="fatWrapper"><hr id="fatHR"></div>

            <h2>Included Account Features</h2>
          </div>
          <div class="col-sm-3">
            <div class="memberBlock basicMember">
              <div class="memberTitle">
                Basic Member
              </div>
              <div class="memberPrice">
                FREE
              </div>
              <div class="memberDetails">
                No annual commitment or contract.
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="memberBlock premiumMember">
              <div class="memberTitle">
                Premium Member
              </div>
              <div class="memberPrice">
                $99<span id="priceRate">USD/MONTH</span>

              </div>
              <div class="memberDetails">
                <h4 >for 2-year membership or</h4>
                <h3 >$119 per month for one year</h3>
                <h3 >$149 per month for auto-renew</h3>
                <h5 >view pricing details</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="majorSection">
          <!-- End of Titles Row -->
          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Help buyer find your products</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Priority Ranking
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Product Listings
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                One "Sample" Listing
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Up to 500
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Featured Products
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Custom Profile
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Multi-Language Marketplaces
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Buyer Interactions</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Match with Quality Buyers
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Bid on RFQs
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Limited
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Unlimited
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                View Buyer Profiles
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Access Buyer Contacts
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Supplier Profile & Credibility</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Premium Supplier Icon
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Supplier Rating
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Online Supplier Profile
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Downloadable Press Kit
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Powerful Business Tools</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                My Procur Dashboard
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                RFx Management System
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Watchlist
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Product Manager
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Distinctive Member Benefits</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Multiple User Sub-accounts
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Additional SEO
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Community Knowledgebase
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Tutorials, Training and Customer Service
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Verification Services
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->



          <div class="row startedRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
                <p>Get started with a Basic Membership!</p>
                <div class="basicComingSoon">Coming Soon!</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
                <p>Get started with a Premium Membership!</p>
                <div class="premiumComingSoon">Coming Soon!</div>
              </div>
            </div>
          </div>
          <!-- End of started row -->

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1" id="pricingDetailsBottom">
        <p id="pricingDetailsAdditional">
        <strong>*Pricing Details:</strong> Premium membership Account Holders will be charged fee in full for one-year or two-year contracts at the time of
        upgrading. Memberships cannot be canceled. We do not offer refunds. Please view our FAQ on <a href="/faq">Membership</a> and <a href="/faq">Pricing &amp; Fees</a> if you have
        additional questions.
        <br/><br/>
        This list is not intended to be exclusive or comprehensive of the final features of Procur membership. All technologies listed here are subject to change and may not be included in the final launch of the platform.
        </p>
      </div>

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>

      <div class="col-md-10 col-md-offset-1 commonQuestions">
        <div class="row">
          <div class="col-xs-12">
            <h3>Common Questions</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 commonQuestions">
            <h4>Can I go ahead and sign up for a full Premium or Basic membership right now?</h4>
            <p>We are currently allowing users to <a href="/signup">sign up for Early Access</a> accounts with access to limited features.  We will be launching our full platform soon.</p>
            <h4>Will I need to sign up again for a membership once you launch the full Procur platform?</h4>
            <p>Once you've signed up for an account, you will not need to register again when we launch our full platform soon. Existing members will have the option to choose between a Premium or Basic membership at that time.</p>
          </div>
          <div class="col-md-4 col-sm-6 commonQuestions">
            <h4>How do I sign up?</h4>
            <p>You may register now for a free account to gain access to Early Access platform features by <a href="/signup">clicking here</a>. Simply follow the steps to complete you early access membership.</p>
            <h4>Can I switch my account type?</h4>
            <p>Once we launch, you may upgrade you account at any time. Once you upgraded to a paid membership, your Premium member status will remain active until it expires</p>
          </div>
          <div class="col-md-4 col-sm-6 commonQuestions">
            <h4>Can I download Procur?</h4>
            <p>Procur is a web-only service.  We do not have plans to make a downloadable version. In the future, we hope to offer complementary applications that will help you manage your account more easily</p>
            <h4>Can I cancel my plan?</h4>
            <p>Membership plans are based on an annual contract, billed yearly or monthly. You can turn off auto-renewal in your Account Settings if you do not wish to renew your plan.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>

      <div class="col-sm-12">
        <div class="row invitation">
          <div class="col-sm-4 pull-right text-right">
            <h4>We invite you to join our network and expand your business over our international soundboard.</h4>
            <p>If you have any additional questions, please <a href="/faq">visit our FAQ</a> regarding Membership, or contact us at:
            <a href="mailto:sales@procur.com">sales@procur.com</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
