<div id="pricing">  
  <div id="heroArea">
    <div class="container">
      <div class="row">
      <div class="col-sm-7 textArea">
        <h1>Joining the Procur community is more than access to an international audience of buyers and suppliers - it's a statement to the market of your commitment to excellence.</h1>
      </div>
      <div class="col-sm-3 pull-right">
      <a href="/features"><div class="pill">View upcoming features ></div></a>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-8 col-sm-12 comingSoon">
            <h1>Coming Soon!</h1>
            <p><b>Sign up for your free beta account now</b>, and once we launch you will have the <b>option of Premium or Basic membership</b>. You can read more about our <b>upcoming membership pricing and features below</b>.</p>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2" id="registerNow">
            <a href="/signup"><div class="registerNowButton">Register Now for Early Access</div></a>
            <a href="/faq" class="helper">Have questions? View our FAQ <i class="fa fa-chevron-right"></i></a>  
          </div>
        </div>
      </div>
        <!-- End of Pitch Row -->

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>

      <div class="col-md-10 col-md-offset-1 pricingComparison">
        <div class="row">
          <div class="col-sm-6">
            <h1>Supplier Memebership Pricing &amp; Comparison</h1>
            <h2>Included Account Features</h2>
          </div>
          <div class="col-sm-3">
            <div class="memberBlock basicMember">
              <div class="memberTitle">
                Basic Member
              </div>
              <div class="memberPrice">
                FREE
              </div>
              <div class="memberDetails">
                No annual contract or commitment.
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="memberBlock premiumMember">
              <div class="memberTitle">
                Premium Member
              </div>
              <div class="memberPrice">
                UNFREE
              </div>
              <div class="memberDetails">
                Lots of annual contract <i>AND</i> commitment.
              </div>
            </div>
          </div>
        </div>

        <div class="majorSection">
          <!-- End of Titles Row -->
          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Help buyer find your products</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->
          
          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Priority Ranking 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Product Listings 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                One "Sample" Listing
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Up to 500
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Featured Products 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of spacer row -->
          
          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Custom Profile
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Multi-Language Marketplaces
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Buyer Interactions</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Match with Quality Buyers
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Bid on RFQs
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Limited
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                Unlimited
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                View Buyer Profiles 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Access Buyer Contacts 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Supplier Profile & Credibility</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Premium Supplier Icon 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Supplier Rating 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Online Supplier Profile
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Downloadable Press Kit 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Powerful Business Tools</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                My Procur Dashboard
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                RFx Management System
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Watchlist
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Product Manager
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row">
            <div class="col-sm-12 sectionTitle">
              <h4>Distinctive Member Benefits</h4>
            </div>
          </div>
          <!-- End of Header Label Row -->

          <div class="row spacerRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
              </div>
            </div>
          </div>
          <!-- End of spacer row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Multiple User Sub-accounts 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Additional SEO
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Community Knowledgebase 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Tutorials, Training and Customer Service 
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->

          <div class="row itemRow">
            <div class="col-sm-6">
              <div class="rowTitle">
                Verification Services
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <div class="pad-right-0 col-sm-3">
              <div class="checkColumn">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <!-- End of Item Row -->



          <div class="row startedRow">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
                <p>Get started with a Basic Membership!</p>
                <div class="basicComingSoon">Coming Soon!</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="checkColumn">
                <p>Get started with a Premium Membership!</p>
                <div class="premiumComingSoon">Coming Soon!</div>
              </div>
            </div>
          </div>
          <!-- End of started row -->

        </div>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <p>
        *Pricing Details: Premium membership Account Holders will be charged fee in full for one-year or two-year contracts at the time of 
        upgrading. Memberships cannot be canceled. We do not offer refunds. Please view our FAQ on Membership and Pricing &amp; Fees if you have 
        additional questions.
        </p>
      </div>

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>
      
      <div class="col-md-10 col-md-offset-1 commonQuestions">
        <div class="row">
          <div class="col-xs-12">
            <h3>Common Questions</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4>This is a question title!</h4>
            <p>This is the answer to a question. How very exciting! I'm sure there will be more text than that.</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>This is a question title!</h4>
            <p>This is the answer to a question. How very exciting! I'm sure there will be more text than that.</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>This is a question title!</h4>
            <p>This is the answer to a question. How very exciting! I'm sure there will be more text than that.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <hr class="darkseparator" />
      </div>

      <div class="col-sm-12">
        <div class="row invitation">
          <div class="col-sm-5 pull-right text-right">
            <h4>We invite you to join our network and expand your business over our international soundboard.</h4>
            <p>If you have any additional questions, please visit our <a href="#">FAQ</a> regarding Membership, or contact us at:
            <a href="mailto:sales@procur.com">sales@procur.com</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
