<%- partial('../partials/mktheaderline') %>
<div class="container" id="faq">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <div class="row">

      <div id="textContainer">
        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-5" id="nav-wrapper">
            <div id="nav" class="navbar" data-spy="affix" data-offset-top="115">
              <div class="navbar-example">
                <h2>SUPPORT</h2>
                  <ul class="nav nav-tabs orangeLeft" role="tablist">
                    <li><a href="#q1">How do I sign up?</a></li>
                    <li><a href="#q2">How do I reset my password?</a></li>
                    <li><a href="#q3">How do I verify my email address?</a></li>
                    <li><a href="#q4">I am having trouble verifying my email address.</a></li>
                    <li><a href="#q5">What is my company's username?</a></li>
                    <li><a href="#q6">How do I add a profile photo?</a></li>
                    <li><a href="#q7">How do I change my profile photo?</a></li>
                    <li><a href="#q8">How do I change my account settings?</a></li>
                    <li><a href="#q9">How do I edit my company profile?</a></li>
                    <li><a href="#q10">How do I view my company profile?</a></li>
                    <li><a href="#q11">How do I logout?</a></li>
                    <li><a href="#q12">I have another question not listed here. How do I contact support?</a></li>

                  </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-7 colRight" data-offset="0">
          
          <div id="q1">
            <h4>How do I sign up? </h4>
            <p>You can create a free Early Access account by navigating to <a href="/signup">procur.com/signup</a>, and submitting the required information.</p>
          </div>
          <div id="q2">
          <h4>How do I reset my password?</h4>
          <p>If you're having trouble with your password, you can reset it by visiting <a href="/resetpassword">procur.com/resetpassword</a> and following the steps to change your password.</p>
          </div>
          <div id="q3">
          <h4>How do I verify my email address?</h4>
          <p>We will automatically send you an email during your registration process prompting you to verify your email address by clicking on the link provided in the message. If you do not see the verification email, please check that it hasn't been sent to your spam or junk folder on mistake.</p>
          </div>
          <div id="q4">
          <h4>I am having trouble verifying my email address.</h4>
          <p>If you don't see a message from us after check your email inbox and/or spam folder, you can request that we resend this verification email when you login. If you're still experiencing trouble, please <a href="/contact">contact support</a>.</p>
          </div>
          <div id="q5">
          <h4>What is my company's username?</h4>
          <p>You must enter a company username to complete your registration. This will be the address at which others may see your company profile (e.g., procur.com/companies/yourusername).</p>
          </div>
          <div id="q6">
          <h4>How can I change my company's username?</h4>
          <p>If you'd like to change your company's username, you may do so by logging in and visiting the Edit (Buyer/Supplier) Profile link in the My Procur interface. You can then edit your company's username from the sidebar on the lefthand side of the page.</p>
          </div>
          <div id="q7">
          <h4>How do I add a profile photo?</h4>
          <p>You may add a profile photo by logging in and visiting your <a href="/user/update">User Account Settings</a>. This photo represents you as an individual user and is not displayed on your company's profile page.</p>
          </div>
          <div id="q8">
          <h4> How do I change my profile photo?</h4>
          <p>You may change your profile photo by logging in and visiting your <a href="/user/update">User Account Settings</a> and uploading a photo by selecting the "Choose File" button under "Profile Picture." Select the photo you'd like to use from your computer, and follow the steps to upload. </p>
          </div>
          <div id="q9">
          <h4>How do I change my account settings?</h4>
          <p>You can update your user details by logging to your account and navigating to your <a href="/user/update">User Account Settings</a>.</p>
          </div>
          <div id="q10">
          <h4>How do I edit my company profile?</h4>
          <p>You can update your buyer or supplier profile by logging to your account and navigating to the Edit (Buyer/Supplier) Profile link in the My Procur interface.</p>
          </div>
          <div id="q11">
          <h4> How do I view my company profile? </h4>
          <p>You can view your buyer or supplier profile by logging to your account and navigating to the View Profile link in the My Procur interface. Alternatively, you can directly navigate to procur.com/companies/yourusername.</p>
          </div>
          <div id="q12">
          <h4> How do I logout? </h4>
          <p>You can logout at any time by clicking on "Logout" in the top righthand corner of the page.</p>
          </div>
          <div id="q13">
          <h4> I have another question not listed here. How do I contact support? </h4>
          <p>If you have another question that isn't listed here, you can contact us by emailing support@procur.com to describe the issue you're having.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
