<%- partial('../partials/mktheaderline') %>

<div class="container" id="legal">  
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Terms of Use</h1>

      <p>This is the Privacy Policy governing your use of the Procur.com site (the "Site") and the collection, use, transfer and processing of Collected Content by Procur Systems, LLC and our affiliates (collectively referred to as "Procur.com", "we" or "us"). By using this Site, you consent to our Privacy Policy set out below. All terms not defined in this document have the meanings ascribed to them in the <a href="/terms">Terms of Use Agreement</a> between you and Procur.comwhich, by use of this Site, you agree to accept.</p>

      <h2>1. Collected Information and Content</h2>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <h3>1.1 Published Content:</h3><p> Consists of a bunch of stuff.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
