  <div class="container" id = "confirmation">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <img src="images/procur.png" />
          <h1>Thanks for signing up.</h1>
          <span><p>We’ve received your confirmation. You will receive messages from us in the future about upcoming Procur platform announcements, company news and other exciting updates. You may unsubscribe from this mailing list at any time. We always welcome your comments, questions and/or feedback regarding our newsletter and the types of information you’d like to see in your inbox.</p></span>
          <a href="http://procur.com">
            <div class="returnButton">
              <i class="fa fa-angle-left"></i> Back to Procur
            </div>
          </a>
          <p><br/><br/><br/></p>
      </div>
    </div>
  </div>
