<h1>Are you a buyer or supplier?</h1>
<section class="buyerOrSupplier">
  <a href="/welcome/buyer">Buyer</a> |
  <a href="/welcome/supplier">Supplier</a> |
  <a href="/welcome/both">Both</a>
</section>
