<h1>Buyer Wizard</h1>

<section class="buyerWizard">
  <form action="/buyer/create" method="post" enctype="multipart/form-data">
    <h4>DBA</h4>
    <div><input type="text" name="dba" placeholder="Alternate Company Name"></div>

    <h4>Logo</h4>
    <div><input type="file" name="logoUrl" accept="image/*"></div>
    
    <h4>Languages</h4>
    <div>
      <select name="language1">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
      <select name="language2">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
    </div>

    <h4>Other Locations</h4>
    <section id="otherLocation1">
      <div><input type="text" name="otherLocation1Name" placeholder="Name"></div>
      <div>
        <select name="type">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div><input type="text" name="otherLocation1City" placeholder="City"></div>
      <div>
        <select name="province">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div>
        <select name="country">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </section>

    <!--<section id="otherLocation2">
      <div><input type="text" name="otherLocation2Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation2Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation2City" placeholder="City"></div>
      <div><input type="text" name="otherLocation2Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation2Country" placeholder="Country"></div>
    </section>

    <section id="otherLocation3">
      <div><input type="text" name="otherLocation3Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation3Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation3City" placeholder="City"></div>
      <div><input type="text" name="otherLocation3Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation3Country" placeholder="Country"></div>
    </section>-->

    <h4>Port location</h4>
    <section id="nearestPort">
      <div><input type="text" name="nearestPortCity" placeholder="City"></div>
      <div><input type="text" name="nearestPortProvince" placeholder="State / Province"></div>
      <div><input type="text" name="nearestPortCountry" placeholder="Country"></div>
    </section>
    
    <h4>Preferred Supplier Type</h4>
    <section id="preferredSupplierType">
      <select name="preferredSupplierType">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <h4>Preferred Suppplier Languages</h4>
    <section id="preferredSupplierLanguage1">
      <select name="preferredSupplierLanguage1">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredSupplierLanguage2">
      <select name="preferredSupplierLanguage2">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredSupplierLanguage3">
      <select name="preferredSupplierLanguage3">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <h4>Preferred Supplier Locations</h4>
    <section id="preferredSupplierLocation1">
      <select name="preferredSupplierLocation1Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredSupplierLocation2">
      <select name="preferredSupplierLocation2Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredSupplierLocation3">
      <select name="preferredSupplierLocation3Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Type of Company</h4>
    <section id="typeOfCompany">
      <select name="typeOfCompany">
        <option value="">Select a type</option>
      </select>
    </section>

    <h4>Accepted Delivery Terms</h4>
    <section id="acceptedDeliveryTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Currencies</h4>
    <section id="acceptedCurrency">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Payment Terms</h4>
    <section id="acceptedPaymentTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <div><input type="submit"></div>
  </form>
</section>
