<%- partial('../partials/registration-header') %>

<div id="regWizard">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Complete Your Registration</h1>
      </div>
			<%- partial('../partials/progressmode') %>
			<div class="col-sm-6 col-sm-offset-3 fieldBox text-center">
				<h4>Please select a membership type for your company:</h4>
				<section class="buyerOrSupplier">
				<div class="row">
					<div class="pillContainer">
						<div class="col-sm-4">
							<a class="pill" href="/welcome/setbuyer">Buyer</a>
						</div>
						<div class="col-sm-4">
						  	<a class="pill" href="/welcome/setsupplier">Supplier</a>
						</div>
						<div class="col-sm-4">
						  	<a class="pill" href="/welcome/both">Both</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="text-left">Note: You may add or change your company's memberhip capabilities in your MyProcur Account Settings panel, but your must select a default mode.</p>
					</div>
				</div>
				</section>
			</div>
		</div>
	</div>
</div>

<%- partial('../partials/registration-footer') %>
