<h1>Buyer Wizard</h1>

<section class="buyerWizard">
  <form action="/buyer/create" method="post">
    <div><input type="text" name="preferredSupplierType" placeholder="Preferred Supplier Type"></div>
    <div><input type="text" name="productCategories" placeholder="Product Categories"></div>
    <div><input type="text" name="productsOfInterest" placeholder="Products of Interest"></div>
    <div><input type="text" name="facebookUsername" placeholder="Facebook Username"></div>
    <div><input type="text" name="twitterUsername" placeholder="Twitter Username"></div>
    <div><input type="text" name="pintrestUsername" placeholder="Pintrest Username"></div>
    <div><input type="text" name="tumblrUsername" placeholder="Tumblr Username"></div>
    <div><input type="text" name="linkedinUsername" placeholder="Linkedin Username"></div>
    <div><input type="text" name="instagramUsername" placeholder="Instagram username"></div>
    <div><input type="text" name="googleUsername" placeholder="Google Username"></div>
    <div><input type="text" name="relevantLinksTitle" placeholder="Relevant Links Title"></div>
    <div><input type="text" name="languages" placeholder="Languages"></div>
    <div><input type="text" name="dunsNumber" placeholder="Duns Number"></div>
    <div><input type="text" name="contactName" placeholder="Contact Name"></div>
    <div><input type="text" name="contactPosition" placeholder="Contact Position"></div>
    <div><textarea form="buyerWizard" name="responsibilityStatement" placeholder="Responsibility Statement"></textarea></div>
    <div><textarea form="buyerWizard" name="aboutCompany" placeholder="About Company"></textarea></div>
    <div><input type="file" name="datafile" size="40">Downloads</div>
    <div><input type="file" name="companyLogo" size="40">Company Logo</div>
    <div><input type="file" name="featuredPhotos" size="40">Featured Photos</div>
    <div><input type="file" name="certifications" size="40">Certifications</div>
    <div><input type="submit"></div>
  </form>
</section>
