<h1>Change your handle</h1>

<section id="changeHandleForm">
  <form action="/company/changehandle" id="change-handle-form" method="post">
    <div>
      <input type="text" id="desiredHandle" name="handle" value="<%= handle %>">
      <span id="handleStatus"></span>
    </div>
    <div><button type="submit">Change handle</div>
  </form>
</section>
