<h1>Change your handle</h1>

<section id="changeHandleForm">
  <form action="/company/changehandle" method="post">
    <div><input type="text" name="handle" value="<%= handle %>"></div>
    <div><input type="submit"></div>
  </form>
</section>
