<%- partial('../partials/registration-header') %>

<div id="regWizard">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Complete Your Registration</h1>
      </div>
      <%- partial('../partials/progressdefaultmode') %>
      <div class="col-sm-6 col-sm-offset-3 fieldBox text-center">
        <h4>You've selected BOTH Buyer and Supplier.<br/><br/>
        Please select a default mode that you will be using most often on Procur.com:</h4>
        <section class="buyerOrSupplier">
        <div class="row">
          <div class="pillContainer">
            <div class="col-sm-6">
                <a class="pill" href="/supplierdefault">Default Supplier</a>
            </div>
            <div class="col-sm-6">
                <a class="pill" href="/buyerdefault">Default Buyer</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-left">Note: You may change your company's default mode at any time by going to the My Procur Account Setting panel, but you must select a default type of membership. You will automatically be signed in with your selected default mode each time you login to procur.com, but can access features available to both Buyers and Suppliers.</p>
          </div>
        </div>
        </section>
      </div>
    </div>
  </div>
</div>

<%- partial('../partials/registration-footer') %>
