<h1>Supplier Wizard</h1>

<section class="supplierWizard">
  <form action="/supplier/create" method="post">
    <h4>DBA</h4>
    <div><input type="text" name="dbaName" placeholder="Alternate Company Name"></div>

    <h4>Logo</h4>
    <div><input type="file" name="companyLogo" size="40">Company Logo</div>

    <h4>Languages</h4>
    <div>
      <select name="language1">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
      <select name="language2">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
    </div>

    <h4>Other Locations</h4>
    <section id="otherLocation1">
      <div><input type="text" name="otherLocation1Name" placeholder="Name"></div>
      <div>
        <select name="type">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div><input type="text" name="otherLocation1City" placeholder="City"></div>
      <div>
        <select name="province">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div>
        <select name="country">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </section>

    <!--<section id="otherLocation2">
      <div><input type="text" name="otherLocation2Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation2Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation2City" placeholder="City"></div>
      <div><input type="text" name="otherLocation2Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation2Country" placeholder="Country"></div>
    </section>

    <section id="otherLocation3">
      <div><input type="text" name="otherLocation3Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation3Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation3City" placeholder="City"></div>
      <div><input type="text" name="otherLocation3Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation3Country" placeholder="Country"></div>
    </section>-->

    <h4>Port location</h4>
    <section id="nearestPort">
      <div><input type="text" name="nearestPortCity" placeholder="City"></div>
      <div><input type="text" name="nearestPortProvince" placeholder="State / Province"></div>
      <div><input type="text" name="nearestPortCountry" placeholder="Country"></div>
    </section>

    <h4>Annual Production Volume</h4>
    <section id="annualProductionVolume">
      <div>
        <select name="annualProductionVolume">
          <option value="1">1</option>
        </select>
      </div>
    </section>

    <h4>Primary Product Specialty</h4>
    <section id="primaryProductSpeciality1">
      <select name="primaryProductSpeciality1">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="primaryProductSpeciality2">
      <select name="primaryProductSpeciality2">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Type</h4>
    <section id="preferredBuyerType">
      <select name="preferredBuyerType">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Languages</h4>
    <section id="preferredBuyerLanguage1">
      <select name="preferredBuyerLanguage1">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredBuyerLanguage2">
      <select name="preferredBuyerLanguage2">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredBuyerLanguage3">
      <select name="preferredBuyerLanguage3">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Locations</h4>
    <section id="preferredBuyerLocation1">
      <select name="preferredBuyerLocation1Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredBuyerLocation2">
      <select name="preferredBuyerLocation2Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredBuyerLocation3">
      <select name="preferredBuyerLocation3Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Accepted Delivery Terms</h4>
    <section id="acceptedDeliveryTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Currencies</h4>
    <section id="acceptedCurrencies">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Payment Terms</h4>
    <section id="acceptedPaymentTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Type of Company</h4>
    <section id="typeOfCompany">
      <select name="typeOfCompany">
        <option value="">Select a type</option>
      </select>
    </section>

    <h4>Private Labeler</h4>
    <section id="privateLabeler">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <div><input type="submit"></div>
  </form>
</section>

<!--
<div><select name="language"><option value="English">English</option></select></div>
<div><select name="type"><option value="">Select a Type</option></select></div>
<div><input type="text" name="city" placeholder="City"></div>
<div><input type="text" name="province" placeholder="State/Province"></div>
<div><input type="text" name="country" placeholder="Country"></div>
<div><input type="text" name="portCity" placeholder="City"></div>
<div><input type="text" name="portProvince" placeholder="State/Province"></div>
<div><input type="text" name="portCountry" placeholder="Country"></div>
<div><select name="salesValue"><option value="">Sales Value</option></select></div>
<div><input type="text" name="productSpeciality" placeholder="Select a Speciality"></div>
<div><select name="preferredBuyerType"><option value="">Select a Type</option></select></div>
<div><select name="preferredBuyerLanguage"><option value="">Select a Language</option></select></div>
<div><select name="preferredBuyerCountry"><option value="">Country</option></select></div>
<div><input type="checkbox" name="acceptedDeliveryTerms"> Accepted Delivery Terms<div>
<div><input type="checkbox" name="acceptedCurrency"> Accepted Currency<div>
<div><input type="checkbox" name="acceptedPaymentTerms"> Accepted Payment Terms<div>
<div><select name="typeOfCompany"><option value="">Select a Type</option></select></div>
<div><input type="checkbox" name="privateLabeler"> Private Labeler<div>

-->
