<%- partial('../partials/dashboard-header.ejs') %>
<script src="/linker/js/countries.js"></script>

<div class="container" id="companyUpdate">
  <script>
    $(document).ready(function() {
      $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
      $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
      var area = " | Update Company Profile";
      var first = $("#siteTitle").text();
      $("#siteTitle").text(first + area);
    });
  </script>

  <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix" id="tabs">
    <div class="col-sm-4">
      <% if(user.activeMode == 'buyer') { %><h3>Edit Buyer Profile</h3><% } %>
      <% if(user.activeMode == 'supplier') { %><h3>Edit Supplier Profile</h3><% } %>
      <div class="featuresColumn">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
          <!-- Company Tab -->
          <li class="ui-state-default ui-corner-left">
            <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#companyDetails">COMPANY DETAILS</a>
            </div>
          </li>

          <% if(user.activeMode == 'buyer') { %>
          <li class="ui-state-default ui-corner-left">
            <div class="rightSec rightAlt">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#buyerInformation">BUYER INFORMATION</a>
            </div>
          </li>
          <li class="ui-state-default ui-corner-left">
            <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#descriptionsBuyer">DESCRIPTIONS</a>
            </div>
          </li>
          <li class="ui-state-default ui-corner-left">
            <div class="rightSec rightAlt">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#preferencesBuyer">PREFERENCES</a>
            </div>
          </li>
          <li class="ui-state-default ui-corner-left">
            <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#socialOutletsBuyer">SOCIAL MEDIA</a>
            </div>
          </li>
          <% } %>

          <% if(user.activeMode == 'supplier') { %>
            <li class="ui-state-default ui-corner-left">
              <div class="rightSec rightAlt">
                <div class="rightSecBox">
                  <i class="fa fa-gear fa-fw"></i>
                </div>
                <a href="#supplierInformation">SUPPLIER INFORMATION</a>
              </div>
            </li>
            <li class="ui-state-default ui-corner-left">
              <div class="rightSec">
                <div class="rightSecBox">
                  <i class="fa fa-gear fa-fw"></i>
                </div>
                <a href="#productionDetails">PRODUCTION DETAILS</a>
              </div>
            </li>
            <li class="ui-state-default ui-corner-left">
              <div class="rightSec rightAlt">
                <div class="rightSecBox">
                  <i class="fa fa-gear fa-fw"></i>
                </div>
                <a href="#descriptionsSupplier">DESCRIPTIONS</a>
              </div>
            </li>
            <li class="ui-state-default ui-corner-left">
              <div class="rightSec">
                <div class="rightSecBox">
                  <i class="fa fa-gear fa-fw"></i>
                </div>
                <a href="#preferencesSupplier">PREFERENCES</a>
              </div>
            </li>
            <li class="ui-state-default ui-corner-left">
              <div class="rightSec rightAlt">
                <div class="rightSecBox">
                  <i class="fa fa-gear fa-fw"></i>
                </div>
                <a href="#socialOutletsSupplier">SOCIAL MEDIA</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div> <!-- END FEATURES COLUMN -->

      <div id="username">
        <h3>Your Company Username</h3>
        <p>procur.com/companies/<strong><%= company.handle %>  </strong><a href="/company/changehandle">Edit</a></p>
      </div>
    </div> <!-- END COL-SM-4 -->

    <%- partial('../partials/update-company/basic-company-details') %>

    

  </div>
</div>