

/* Registration Wizard Fields */


#regWizard {

	h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
	font-size: 18px;
	font-weight: 300;
	}

	h4 {
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 0px;
	}
	
	.fieldBox {
		background: $beige;
		padding: 25px 30px;
	}

	.topBox {
		background: $charcoal;
		h1 {
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			color: white;
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.07em;
			margin: 0px;
			padding: 25px 0px 20px;
		}
	}

	input {
		border: 0px none;
		margin: 5px 0px;
		width: 100%;
		height: 25px;
		font-size: 11px;
		padding: 0px 7px;
		font-weight: 100;

		
	}

	.checkbox {
		height: auto;
		width: auto;
		display: inline-block;
		margin-right: 8px;
	}

	.checkboxtext {
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
		display: inline-block;
		position: relative;
		top: -3px;
	}

	.styledSelect select {
		width: 115%;
		background: transparent;
		border: none 0px;
		margin: 4px 0px 4px;
		height: 18px;
		line-height: 25px;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 11px;
		padding: 0px 4px;
		-webkit-appearance: none;
	}

	.styledSelect {
		margin-top: 5px;
		margin-bottom: 10px;
		width: 100%;
		overflow: hidden;
		background: url(/images/ddarrow.png) no-repeat right white;
	}

	.insideForm {
		.inputColumnL {
			padding-right: 0px;
		}

		.inputColumnR {
			padding-left: 8px;
		}
	}

	.breakForm {
		margin-bottom: 20px;
	}

	button {
		position: absolute;
		background: white;
		border: 0px none;
		top: 15px;
		right: 4px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		display: inline;
		font-weight: 700;
		letter-spacing: 0.04em;
	}

	.pillContainer {
		position: relative;
		height: 100px;
	}

	a.pill {
		left: 15px;
		top: 0px;
		position: absolute;
	    border-radius: 30px 30px 30px 30px;
	    background: $midGrey;
	    padding: 10px 20px;
	    font-family: 'Montserrat', sans-serif;
	    text-transform: uppercase;
	    color: $offWhite;
	    font-weight: 300;
	    letter-spacing: 0.07em;
	    margin-top: 30px;
	    text-decoration: none;
	    @include transition(100ms);
	    font-size: 14px;
	    width: 90%;
	}
	a:hover.pill {
		background: $green;
		text-decoration: none;
		@include transition(100ms);
	}

}
