<li class="ui-state-default ui-corner-left">
  <div class="rightSec rightAlt">
    <div class="rightSecBox">
      <i class="fa fa-gear fa-fw"></i>
    </div>
    <a href="#supplierInformation">SUPPLIER INFORMATION</a>
  </div>
</li>
<li class="ui-state-default ui-corner-left">
  <div class="rightSec">
    <div class="rightSecBox">
      <i class="fa fa-gear fa-fw"></i>
    </div>
    <a href="#productionDetails">PRODUCTION DETAILS</a>
  </div>
</li>
<li class="ui-state-default ui-corner-left">
  <div class="rightSec rightAlt">
    <div class="rightSecBox">
      <i class="fa fa-gear fa-fw"></i>
    </div>
    <a href="#descriptionsSupplier">DESCRIPTIONS</a>
  </div>
</li>
<li class="ui-state-default ui-corner-left">
  <div class="rightSec">
    <div class="rightSecBox">
      <i class="fa fa-gear fa-fw"></i>
    </div>
    <a href="#preferencesSupplier">PREFERENCES</a>
  </div>
</li>
<li class="ui-state-default ui-corner-left">
  <div class="rightSec rightAlt">
    <div class="rightSecBox">
      <i class="fa fa-gear fa-fw"></i>
    </div>
    <a href="#socialOutletsSupplier">RELEVANT LINKS</a>
  </div>
</li>