<li class="ui-state-default ui-corner-left">
  <div class="rightSec">
    <div class="rightSecBox">
      <i class="fa fa-exchange fa-fw"></i>
    </div>
    <a href="#companyDetails">COMPANY DETAILS</a>
  </div>
</li>
