<div id="photosDownloadsSupplier">
  <h4>Downloadable Files</h4>
  <div class="formWrapper">
    <% if (supplierDownload && supplierDownload.length>0) { %>
      <div class="row">
        <div class="col-sm-6">
          <h3>Current Publicly Available Downloads</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="downloadsList">
            <% for (var i = 0; i<supplierDownload.length; i++){ %>
              <li>
                <%= supplierDownload[i].title %><a href="#"><i class="fa fa-download"></i></a><a href="#" title="Remove"><i class="fa fa-times"></i></a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    <% } %>
    <% if (!supplierDownload || supplierDownload.length<5){ %>
    <div class="row">
      <div class="col-sm-6">
        <h3>Upload Files</h3>
      </div>
    </div>
    <form id="downloadablesForm" action="/downloads/process" method="post" enctype="multipart/form-data">
      <% for (var i = 0; i<5-supplierDownload.length; i++){ %>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" name="<%='downloadTitle'+i %>" placeholder="Title"/>
          </div>
          <div class="col-sm-6">
            <input inline="true" type="file" name="<%='downloadURI'+i %>"  accept="image/*"/>
          </div>
        </div>
      <% } %>
      <% } %>
      </div><!-- END formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button>
  </form>
</div><!-- END #photosDownloadsSupplier -->