<div id="photosDownloadsSupplier">
  <h4>Photos &amp; Downloads</h4>
  <div class="formWrapper">
    <div class="row">
      <div class="col-sm-6">
       <h3>Downloadable Files</h3>
      </div>
    </div>
    <form id="downloadablesForm" action="/downloads/process" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="downloadTitle" <% if (supplierDownload && supplierDownload.title) { %> value="<%=supplierDownload.title%>" <% } %> placeholder="Title"/>
        </div>
        <div class="col-sm-6">
          <input inline="true" type="file" name="downloadURI" accept="text/*"/>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="downloadTitle" <% if (supplier.downloadTitle && supplier.downloadTitle[1]) { %> value="<%=supplier.downloadTitle[1]%>" <% } %> placeholder="Title"/>
        </div>
        <div class="col-sm-6">
          <input inline="true" type="file" name="downloadURI" accept="text/*"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="downloadTitle" <% if (supplier.downloadTitle && supplier.downloadTitle[2]) { %> value="<%=supplier.downloadTitle[2]%>" <% } %> placeholder="Title"/>
        </div>
        <div class="col-sm-6">
          <input inline="true" type="file" name="downloadURI" accept="text/*"/>
        </div>
      </div>
      -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <input type="submit" class="uploadButton" value="Upload Files">
        </div>
      </div>

    </form>
    <div class="row">
      <div class="col-sm-6">
        <h3>Company Photos</h3>
      </div>
    </div>
  </div>
</div><!-- END #photosDownloadsSupplier -->
