<link href="/linker/styles/cropper.css" rel="stylesheet">
<script src="/linker/js/cropper.js"></script>

<div id="supplierPhotos">
  <h4>Supplier Photos</h4>
  <div class="formWrapper">
    <div class="row">
      <div class="col-sm-12">
        <!--<form id="adam-form" action="/supplier/update/photos" target="my-iframe" method="post" enctype="multipart/form-data">-->
        <input type='file' id="imgInp" name="logo" />
        <div class="img-container" style="display: none; width: 400px; height: 400px;">
          <img id="blah" class="cropper" src="" alt="your image"/>
        </div>
        <!--<input type="submit" class="photo-input" value="Update Logo Image">-->
        <div id="myButton" style="background: white; width: 50px; height: 20px; text-align: center;">Button</div>
        <!--</form>-->
      </div>

      <br/><br/><br/>
      <div class="img-container2" style="display: none; width: 400px; height: 400px;"><img id="blah2" src="" alt="your image"/></div>
    </div>
    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img id="carousel-img-1" src="" style="width: 100%;" alt="...">
          <div class="carousel-caption">Caption 1</div>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>-->
  </div>
</div>
