<link href="/linker/styles/cropper.css" rel="stylesheet">
<script src="/linker/js/cropper.js"></script>

<div id="supplierPhotos">
  <div id="uploadPhotos">
    <h4>Supplier Photos</h4>
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-6">
          <input type='file' id="imgInp" name="logo" />
          <div id="myButton" style="background: white; width: 100px; height: 20px; text-align: center;">Crop &amp; Save</div>
        </div>
        <div class="col-sm-6">
          <div class="img-container" style="display: none; width: 300px; height: 250px;"><img id="blah" class="cropper" src="" alt="your image"/></div>
        </div>
      </div><!-- FIRST ROW -->
    </div>
  </div><br/><br/>
  <div class="photo-preview-area">
    <h4>Your Photos</h4>
    <div class="formWrapper">
      <div class="row current-photos">
        <% var length = supplier["photo"].length; %>
        <% for (var x = 0; x < length; x++) { %>
          <div class="col-xs-6 col-sm-4">
            <div class="photo-box">
              <div class="photo-box-header"><i class="fa fa-times"></i></div>
              <img src="<%= supplier["photo"][x] %>" value="<%= x %>">
            </div>
          </div>
          <% if (((x + 1) % 3 === 0) && ((x + 1) !== length)) { %>
            </div>
            <div class="row current-photos">
          <% } %>
        <% } %>
  </div>
</div>
</div>
